<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <!-- Описание контекстов подключения к хранилищу-->
            <!-- Сложный объект: {name=ИмяКонтекста, dataEngine=Дивжок(SqlServer,Oracle), connectionStringConfig=ИмяКОнфигурациияСтрокиСоединения} -->
            <!-- Пример значения: {name=SDRN_DeviceServer_DB, dataEngine=SqlServer, connectionStringConfig=DB_SDRN_DeviceServer_ConnectionString} -->
            <!-- Важно: имя контекста а также их кол-во определяется кодом 
                 для каждого контекста в коде  создается специальный тип в котором указывается его название, 
                 при конфигурации имя нужно узнавать и оно зависит от проекта -->
            <parameter name="DataContexts" value=""/>

          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>