<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>
        <!-- Подключать в конфигурации после подключения AppUnit с именем "SdrnDeviceServerMessagingAppUnit" -->
        <component type="SdrnDeviceServerOnlineMeasurementAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.OnlineMeasurement">
          <parameters>
            <!-- Публичный URL конечной точки вебсокета который сервер будет открывать 
            для клиента для организаици онлайн измерений. 
            Этот URL будет передан клиенту для подключения -->
            <parameter name="WebSocket.PublicUrl" value="ws://127.0.0.1:15050" />
            
            <!-- Локальный порт вебксокета, на котором сервер устройств ожидает пакеты The WebSocket Protocol RFC6455  -->
            <parameter name="WebSocket.LocalPort" value="15050" />

            <!-- Размер в внутреннего буфера,  нужно подбиратьс учетом доступнйо памяти - пок 64kb долджно хватить  -->
            <parameter name="WebSocket.BufferSize" value="65536" />

            <!-- Максимально допустимое число точек для массивов Level, Freq  -->
            <parameter name="MaxCountPoint" value="5000" />

            <!-- Максимальное время ожидания при получении результата  -->
            <parameter name="maximumDurationMeasLevel_ms" value="1000" />

            <!-- Минимально допустимое время,  которое отводится на  получение и отправку одного результата  -->
            <parameter name="minimumTimeDurationLevel_ms" value="40" />

            <!-- Флажок включени ярежим аотладки. В этом режиме не идет работа с устрйоством а генерируется поток тест овых данных -->
            <parameter name="Measurement.DebugMode" value="false" />

            <!-- Максимальное число попыток отправки команды на сенсор, когда он занят (DeviceIsBusy) -->
            <parameter name="CountLoopDeviceIsBusy" value="50" />

            <!-- Максимальное число попыток отправки команды на сенсор, когда возникает ошибка TimeoutExpired -->
            <parameter name="CountLoopTimeoutExpired" value="10" />


          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>
