<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>

  <atdi.platform>

    <appServer>

      <components>
        <!-- Атрибут instance обязательный, он формирует контекст подклбючаемого АПИ -->
        <component type="SelfHostWebApiServices" instance="WebApiServer1" assembly="Atdi.WebApiServices.SelfHost">
          <parameters>
            <!-- URL Web API
              например "http://localhost:80/appserver/v1"
            -->
            <parameter name="Url" value=""/>

            <!-- Максимально допустимый размер принимаемого собщения в байтах (тип long)-->
            <parameter name="MaxReceivedMessageSize" value="52428800"/>
            <!-- Максимальный размер внутренего буфера в байтах (тип int)-->
            <parameter name="MaxBufferSize" value=""/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>
