<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Endpoint1" value="http://localhost:15010/appserver/v1" />
    <add key="Endpoint2" value="http://localhost:15020/appserver/v1" />
    <add key="Endpoint3" value="http://localhost:15030/appserver/v1" />
    <add key="Endpoint4" value="http://localhost:16010/appserver/v1" />
    <add key="Endpoint5" value="http://localhost:17010/appserver/v1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>