<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnAppServer">

      <components>

        <component type="SdrnDeepServicesGisAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.Gis">
          <parameters>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>