<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>


        <bindings>
            <basicHttpBinding>
<binding name="BasicHttpBinding_ISdrnsController" transferMode="Streamed"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
		openTimeout="10:10:00" 
                 closeTimeout="10:10:00" 
                 sendTimeout="10:10:00" 
                 receiveTimeout="10:10:00"
>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"

                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"

                        maxNameTableCharCount="2147483647" />
<security mode="None">
<transport clientCredentialType="None"/>
</security>

        </binding>
</basicHttpBinding>
        </bindings>
        <client>
            <endpoint
	        name="SdrnsController"
		address="http://localhost:8734/Atdi.AppServer.Services/SDRNS/SdrnsControllerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISdrnsController"
                contract="Atdi.AppServer.Contracts.Sdrns.ISdrnsController">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>