<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnInfocenterAppServer">

      <components>

        <component type="SdrnInfocenterAppUnit" assembly="Atdi.AppUnits.Sdrn.Infocenter">
          <parameters>
            <!-- Имя файла лицензии-->
            <parameter name="License.FileName" value="" />
            <!-- Зашифрованное значение идентификатора владельца лиензии -->
            <parameter name="License.OwnerId" value="" />
            <!-- Зашифрованное значение ключа продукта -->
            <parameter name="License.ProductKey" value="" />


            <!-- Конфишурация шины системы событий -->

            <!-- Версия АПИ  -->
            <parameter name="EventSystem.ApiVersion" value="1.0" />
            <!-- Имя приложения  -->
            <parameter name="EventSystem.AppName" value="SDRN.Server" />
            <!-- Хост без порта  -->
            <parameter name="EventSystem.EventBus.Host" value="192.168.33.110" />
            <!-- Виртуальных хост размещения очередей -->
            <parameter name="EventSystem.EventBus.VirtualHost" value="Test.SDRN.SDRNSV-SBD12-A00-8591.EventSystem" />
            <!-- Порт, не обязательно, в этом случаи будет использован по умолчанию  -->
            <parameter name="EventSystem.EventBus.Port" value="" />
            <!-- Имя пользователя -->
            <parameter name="EventSystem.EventBus.User" value="andrey" />
            <!-- Зашифрованное значение пароля пользователя -->
            <parameter name="EventSystem.EventBus.Password" value="EAAAAF/F9XJFjjkBH2Ga08O6HRa3h9ZfpXMwtagtuwTSepnJ" />
            <parameter name="EventSystem.EventExchange" value="EX.SDRN.EventSystem" />
            <parameter name="EventSystem.EventQueueNamePart" value="Q.SDRN.EventSystem" />
            <parameter name="EventSystem.ErrorsQueueName" value="errors" />
            <parameter name="EventSystem.LogQueueName" value="log" />
            <!-- Признак шифрования передаваемого сообщения через шину -->
            <parameter name="EventSystem.UseEncryption" value="false" />
            <!-- Признак сжатия передаваемого сообщения через шину -->
            <parameter name="EventSystem.UseCompression" value="false" />


          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
  
</configuration>