<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true"  allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <!-- <add name ="DB_ICSM_ConnectionString" connectionString="Application Name=WebQueryServer;Server=localhost;Database=WEBQUERY;User Id=sa; Password = 123456;"/>  -->
    <add name ="DB_ICSM_ConnectionString" connectionString="Application Name=WebQueryServer;Server=192.168.33.110;Database=DB_ICSM_Litva;UID=sa; PWD = P@ssw0rd;"/>
    <add name ="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.1.188)(PORT = 1522))(CONNECT_DATA = (SERVICE_NAME = ORCL2))); User Id = ICSM; Password = ICSM;"/>

  </connectionStrings>
  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\Projects\Repos\atdi.ua\Dev\" />
      <property name="SearchAssembliesPattern" value="\bin\Debug$" />
      <property name="SearchAssembliesPattern_" value="\bin\Release$" />
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component  service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform"  lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us" />
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging" >
        <parameters>
          <parameter name="EventsCapacity" value="20000" />
          <parameter name="Levels_" value="Trace" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000" />
          <parameter name="Levels" value="" />
          <parameter name="Contexts_" value="SQL Server Engine" />
          <parameter name="Categories_" value="Executing command" />
        </parameters>
      </install>

      <!--

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value="" />
          <parameter name="Contexts_" value="SQL Server Engine" />
          <parameter name="Categories_" value="Executing command" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="FolderPath" value="C:\Temp\Logs" />
          <parameter name="FilePrefix" value="sql_" />
          <parameter name="Levels" value="" />
          <parameter name="Contexts" value="SQL Server Engine" />
          <parameter name="Categories" value="Executing command" />
        </parameters>
      </install>
-->
      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnControlAAppServer">

      <properties>
        <property name="ThreadPoolSize" value="500" />
      </properties>

      <components>



        <component type="SdrnControlAAppUnit" assembly="Atdi.AppUnits.Sdrn.ControlA">
          <parameters>
            <parameter name="PeriodSendActivitySensor" value="20" />
            <parameter name="License.FileName" value="LIC-DBD12-A00-722.SENSOR-DBD12-A00-1692.lic" />
            <parameter name="License.OwnerId" value="OID-BD12-A00-N00" />
            <parameter name="License.ProductKey" value="BE1D-RLNN-S0S6-EN42-0028" />
            <parameter name="RabbitMQ.Host" value="109.237.91.29" />
            <parameter name="RabbitMQ.Port" value="5674" />
            <parameter name="RabbitMQ.VirtualHost" value="/" />
            <parameter name="RabbitMQ.User" value="SDR_Client" />
            <parameter name="RabbitMQ.Password" value="32Xr567" />
            <parameter name="SDRN.ApiVersion" value="2.0" />
            <parameter name="SDRN.Server.Instance" value="ServerSDRN01" />
            <parameter name="SDRN.Server.QueueNamePart" value="Q.SDRN.Server" />
            <parameter name="SDRN.Device.SensorTechId" value="BB60C" />
            <parameter name="SDRN.Device.Exchange" value="EX.SDRN.Device" />
            <parameter name="SDRN.Device.QueueNamePart" value="Q.SDRN.Device" />
            <parameter name="SDRN.Device.MessagesBindings" value="{messageType=RegisterSensor, routingKey=#01};{messageType=SendCommandResult, routingKey=#02};{messageType=SendMeasResults, routingKey=#03};{messageType=SendEntity, routingKey=#04};{messageType=SendEntityPart, routingKey=#05};{messageType=UpdateSensor, routingKey=#06};{messageType=SendActivitySensor, routingKey=#07};{messageType=SendActivitySensorResult, routingKey=#08};{messageType=SendMeasSdrResults, routingKey=#09};{messageType=SendMeasSdrTask, routingKey=#10};{messageType=UpdateSensorLocation, routingKey=#11};{messageType=StopMeasSdrTask, routingKey=#12}" />
            <parameter name="SDRN.MessageConvertor.UseEncryption" value="false" />
            <parameter name="SDRN.MessageConvertor.UseCompression" value="false" />
          </parameters>
        </component>



      </components>
    </appServer>

  </atdi.platform>

</configuration>