<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerRSTSMxAppUnitTest" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.RSTSMx.Test">
          <parameters>           
            
            <!-- IP адрес прибора например 192.168.2.110, тип string-->
            <parameter name="IPAddress" value=""/>
            
            <!-- путь к папке bin с библиотеками vicom, например "c:\RuS\RS-ViCom-Pro-16.25.0.743\", тип string-->
            <parameter name="RSViComPath" value=""/>

            <!-- Модель прибора , тип int
                 TSMW = 0
                 TSME = 1
                 TSME6 = 2
            -->
            <parameter name="DeviceType" value=""/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>