<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <connectionStrings>
    <add name="DB_ICSM_ConnectionString" connectionString="Application Name=WebQueryServer;Server=192.168.33.110;Database=DB_ICSM_Litva;UID=sa; PWD = P@ssw0rd;"/>
  </connectionStrings>
  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value=""/>
      <property name="SearchAssembliesPattern" value=""/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels" value=""/>
        </parameters>
      </install>
  <!-- 
      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts" value=""/>
          <parameter name="Categories" value=""/>
        </parameters>
      </install>
-->
      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts" value=""/>
          <parameter name="Categories" value=""/>
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="WebQueryServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=ICSM_DB, dataEngine=SqlServer, connectionStringConfig=DB_ICSM_ConnectionString}"/>
          </parameters>
        </component>

        <!--
        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>
        -->

        <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer">
        </component>

        <component type="IcsmLegacyServices" assembly="Atdi.LegacyServices.Icsm">
          <parameters>
            <parameter name="SchemasPath" value="C:\ATDI\ICS Manager"/>
            <parameter name="SchemaPrefix" value="dbo"/>
            <parameter name="Edition" value="Standard"/>
            <parameter name="Schemas" value="ICSM,Atdi.Icsm.Plugins.WebQuery"/>
            <parameter name="Modules" value="Base,AllPresent,WORKFLOW,BILLING,ALLOC,FACSMAB,KOS,INSPECTION,COMPLAINT,COORD_ENV,PHONE,DIRISI,WHITESPACE,MINTIC,LFMF,BROS,STUDIO,ESTA,FXLK,WIENFIX,HCMFIX,HFBC,HFANA,MARITIME,AERO,CSA,MRFL,BIAF,CASSIC,MOBENV,PMR,GSM,MOB,WIENMOB,FIXMOB,CAF,FNF,COMSIS,BRUNEI,THALES_SMS,SCORPIO,NEWBRO,PLUGIN_1,PLUGIN_2,PLUGIN_3,PLUGIN_4"/>
          </parameters>
        </component>

        <component type="IdentityCoreServices" assembly="Atdi.CoreServices.Identity">
        </component>

        <component type="IcsmViispAuthServiceCoreServices" assembly="Atdi.CoreServices.AuthService.IcsmViisp">
           <parameters>
            <!-- URL для запроса к службе аутентификации -->
            <parameter name="VIISP.RequestUrl" value="https://www.epaslaugos.lt:443/portal/authenticationServices/auth" />

            <!-- URL для редиректа -->
            <parameter name="VIISP.ServiceUrl" value="https://www.epaslaugos.lt/portal/external/services/authentication/v2" />

            <!-- Путь к сертификату -->
            <parameter name="VIISP.PublicKey" value="c:\KEY\Cert_VSID000000004110.crt" />

            <!-- Путь к приватному ключу -->
            <parameter name="VIISP.SecretKey" value="c:\KEY\PrivateKey_VSID000000004110.pem" />

            <!-- PID код -->
            <parameter name="VIISP.PID" value="VSID000000004110" />
          </parameters>
        </component>

        <component type="IdentityWcfServices" assembly="Atdi.WcfServices.Identity">
          <parameters>
            <parameter name="IAuthenticationManager" value="{binding=basicHttpBinding, address=http://localhost:8735/Atdi/WcfServices/AuthenticationManager/};  {binding=netTcpBinding, address=net.tcp://localhost:8734/Atdi/WcfServices/AuthenticationManager/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/AuthenticationManager/}"/>
          </parameters>
        </component>

        <component type="WebQueryWcfServices" assembly="Atdi.WcfServices.WebQuery">
          <parameters>
            <parameter name="IWebQuery" value="{binding=basicHttpBinding, address=http://localhost:8736/Atdi/WcfServices/WebQuery/}; {binding=netTcpBinding, address=net.tcp://localhost:8737/Atdi/WcfServices/WebQuery/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/WebQuery/}"/>
            <parameter name="IFileStorage" value="{binding=basicHttpBinding, address=http://localhost:8746/Atdi/WcfServices/FileStorage/}; {binding=netTcpBinding, address=net.tcp://localhost:8747/Atdi/WcfServices/FileStorage/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/FileStorage/}"/>
          </parameters>
        </component>

        <component type="WebQueryAppServices" assembly="Atdi.AppServices.WebQuery">
          <parameters>
            <parameter name="License.FileName" value="LIC-WQASBD45-L00-996.APPSRV-WQBD45-L00-4531.lic"/>
            <parameter name="License.OwnerId" value="EAAAAKjqwdogB5Bi6bWAqfXURdr58dixAJIsni1ppXoI55viA3vDNxV/BWVdg57IVBOoQA=="/>
            <parameter name="License.ProductKey" value="EAAAAK3IMm6lN8HgYIgBAHH271sZci9g7UDQk1PoNqpl9EXbkDX0kzAOClDxK/UN2YAAZA=="/>

            <parameter name="ExternalServices.Public WEB Portal.SecretKey" value="EAAAAK/O5070LODglIkZfxgufnX5yFcl46osArKEuSpl6+W3"/>
          </parameters>
        </component>

        <component type="FileStorageAppServices" assembly="Atdi.AppServices.FileStorage">
          <parameters>
            <!-- Рабочий каталог хранилища, значение переопределяет то что в БД ICSM, иожно не указывать, тогда рабочий каталог береться из настроек ICSM-->
            <parameter name="Storage.WorkFolder" value="" />

          </parameters>
        </component>

        <component type="SelfHostWebApiServices" instance="WebApiServer1" assembly="Atdi.WebApiServices.SelfHost">
          <parameters>
            <parameter name="Url" value="http://localhost:80/appserver/v1"/>
          </parameters>
        </component>

        <component type="IdentityWebApiServices" assembly="Atdi.WebApiServices.Identity">
          <parameters>
            <parameter name="Instance" value="WebApiServer1"/>
          </parameters>
        </component>

        <component type="WebQueryWebApiServices" assembly="Atdi.WebApiServices.WebQuery">
          <parameters>
            <parameter name="Instance" value="WebApiServer1"/>
          </parameters>
        </component>

        <component type="IcsmCoverageEstimationAppUnit" assembly="Atdi.AppUnits.Icsm.CoverageEstimation">
          <parameters>
         
            <parameter name="Telecom.TargetFolder" value="" />

          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>
