<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>
        <!-- Для SPID ROT2PROG (минус на приборе обозначаетмся моргающей точкой после последней цифры)
        На оси поляризации и эливации может быть установленно две антенны(обычно) по азимуту одна направленна в 0гр по азимуту вторая в 180 гр по азимуту.
        Что где установленно не предмет этого адаптера.
        
        0 гр по азимуту антенна направленна на север. Далее угл по азимуту считается по часой стрелке.
        
        0 гр по эливации означает что ось приема антенна направленна вертикально в верх (первендикулярно горизонтальной плоскости), 
        90 гр по эливации означает что ось приема антенны расположена паралельно горизонтальной плоскости (для антенны 
        установленной вдоль оси утсчета по азимуту, ось приема антенны паралельна оси утсчета по азимут).
        
        0 гр по поляризации означает что антенна находится в вертикальной поляризации, 
        90 гр по поляризации означает что антенна находтится в горизонтальной поляризации, 
        считается по часовой стрелке (для антенны установленной вдоль оси утсчета по азимуту). 
        
        Настройки на устройстве должны быть следующими:
        1. Настройка шага енкодера для шага 1 гр будут такими "P 1.00 1.00"
        2. Настройка максимального угла поворота осей должна быть такой "PH 0.0. 100.0" (по азимуту минус ноль на приборе 0.0. и моргающая точка после последнего нуля)
        3. Настройка минимального угла поворота осей должна быть такой "PL 0.0 -20.0." (по азимуту просто ноль)
        4. Настройка протокола общения должна выглядеть так "P5 5P".
        После настройки устройства управления, устройство должно быть переведенно в автоматический рнежим 
        кнопкой "F" до тех пор пока на дисплее устройства не появится буква "A". Есле устройство не будит
        переведено в автоматический режим то команды удаленного управления не будут приниматься к исполнению.
        При таких настройках корректная работа адаптера горантируется.
        -->
        <component type="SdrnDeviceServerSPIDRotatorAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SPIDRotator">
          <parameters>
            <!-- Номер COM Порта устройства управления, тип int -->
            <parameter name="PortNumber" value="7"/>

            <!-- Используется ли устройство наклона приемной оси в роли изменения поляризации, тип bool -->
            <parameter name="ElevationIsPolarization" value="True"/>
            
            <!-- Миним по азимуту установленный в установленный в приборе, тип float от 0 до 360 включительно -->
            <parameter name="AzimuthMin_dg" value="0"/>

            <!-- Максимум по азимуту установленный в установленный в приборе, тип float от 0 до 360 включительно -->
            <parameter name="AzimuthMax_dg" value="360"/>

            <!-- Миним по наклону приемной оси установленный в установленный в приборе, тип float от -180 до 180 включительно -->
            <parameter name="ElevationMin_dg" value="-20"/>

            <!-- Максимум по наклону приемной оси установленный в установленный в приборе, тип float от -180 до 180 включительно -->
            <parameter name="ElevationMax_dg" value="100"/>

            <!-- Производитель устроуства управления, тип string -->
            <parameter name="ControlDeviceManufacturer" value="SPID"/>

            <!-- Модель устроуства управления, тип string -->
            <parameter name="ControlDeviceName" value="ROT2PROG"/>

            <!-- Серийный номер устроуства управления, тип string -->
            <parameter name="ControlDeviceCode" value="N/A"/>

            <!-- Производитель поворотного устроуства, тип string -->
            <parameter name="RotationDeviceManufacturer" value="SPID"/>

            <!-- Модель поворотного устроуства, тип string -->
            <parameter name="RotationDeviceName" value="SPX AZ/EL-02"/>

            <!-- Серийный номер поворотного устроуства, тип string -->
            <parameter name="RotationDeviceCode" value="N/A"/>
            
            
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>