<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="DB_SDRN_Infocenter_ConnectionString" connectionString="Application Name=SDRN.Infocenter.AppServer;Server=192.168.33.110;Database=DB_SDRN_Infocenter;UID=sa; PWD = P@ssw0rd;"/>
    <add name="DB_SDRN_Server_ConnectionString"     connectionString="Application Name=SDRN.Infocenter.AppServer;Server=192.168.33.110;Database=DB_SDRN_Server;UID=sa; PWD = P@ssw0rd;"/>
    <add name="DB_SDRN_CalcServer_ConnectionString" connectionString="Application Name=SDRN.CalcServer;Server=192.168.33.110;Database=DB_SDRN_CalcServer;UID=sa; PWD = P@ssw0rd;"/>
    <add name="DB_Brific_ConnectionString"     connectionString="Data Source=C:\Temp\BRIFIC_2805\BRIFIC_2805.db3"/>
  </connectionStrings>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\Projects\Repos\atdi.ua\Dev\"/>
      <property name="SearchAssembliesPattern" value="\bin\Debug$"/>
      <property name="SearchAssembliesPattern_" value="\bin\Release$"/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Error,Exception,Critical"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>

        <component type="MonitoringCoreServices" assembly="Atdi.CoreServices.Monitoring">
          <parameters>
            <!-- Размер буфера сообщений из лога -->
            <parameter name="LogEvent.BufferSize" value="5000"/>
          </parameters>
        </component>


        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>

            <parameter name="EnvironmentFileName" value="C:\Projects\Repos\atdi.ua\Dev\DataModels\Atdi.DataModels.Sdrn.Infocenter.Entities\Metadata\Environment.xml"/>

            <parameter name="Environments" value="{Context=Brific, Path=C:\Projects\Repos\atdi.ua\Dev\DataModels\Atdi.DataModels.Brific.Entities\Metadata\Environment.xml};{Context=Infocenter, Path=C:\Projects\Repos\atdi.ua\Dev\DataModels\Atdi.DataModels.Sdrn.Infocenter.Entities\Metadata\Environment.xml};{Context=SdrnServer, Path=C:\Projects\Repos\atdi.ua\Dev\DataModels\Atdi.DataModels.Sdrns.Server.Entities\Metadata\Environment.xml};{Context=CalcServer, Path=C:\Projects\Repos\atdi.ua\Dev\DataModels\Atdi.DataModels.Sdrn.CalcServer.Entities\Metadata\Environment.xml}" />

          </parameters>
        </component>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=Brific_DB, dataEngine=Sqlite, connectionStringConfig=DB_Brific_ConnectionString};{name=SDRN_Infocenter_DB, dataEngine=SqlServer, connectionStringConfig=DB_SDRN_Infocenter_ConnectionString};{name=SDRN_Server_DB, dataEngine=SqlServer, connectionStringConfig=DB_SDRN_Server_ConnectionString};{name=Platform, dataEngine=Assemblies}"/>
          </parameters>
        </component>

        <component type="AssembliesDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Assemblies">
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>

        <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer">
        </component>

        <component type="SqliteDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Sqlite">
        </component>


        <component type="SdrnInfocenterAppUnit" assembly="Atdi.AppUnits.Sdrn.Infocenter">
          <parameters>


            <parameter name="License.FileName" value="C:\Projects\Licensing\Test\Sdrn\Licenses_2020\BD12-A00\ServerLicense\Infocentr\LIC-IBD12-A00-552.SDRNSV-IBD12-A00-8900.lic" />
            <parameter name="License.OwnerId" value="EAAAAGBljeq2FuwN8KQmw/hWdmd8s3vwoB63AXthqJSzMjibRwQgbyA0ln0aZ5TsUXGYFA==" />
            <parameter name="License.ProductKey" value="EAAAAGLdYXXadEXtfsliPvIMcJa0S2/KYE7KfTejiiWZyIQRnapYlNaDo5MtT8eD7xLSwg==" />


            <parameter name="EventSystem.ApiVersion" value="1.0" />
            <parameter name="EventSystem.AppName" value="SDRN.Server" />
            <parameter name="EventSystem.EventBus.Host" value="192.168.33.110" />
            <parameter name="EventSystem.EventBus.VirtualHost" value="Test.SDRN.SDRNSV-SBD12-A00-8591.EventSystem" />
            <parameter name="EventSystem.EventBus.Port" value="" />
            <parameter name="EventSystem.EventBus.User" value="andrey" />
            <parameter name="EventSystem.EventBus.Password" value="EAAAAF/F9XJFjjkBH2Ga08O6HRa3h9ZfpXMwtagtuwTSepnJ" />
            <parameter name="EventSystem.EventExchange" value="EX.SDRN.EventSystem" />
            <parameter name="EventSystem.EventQueueNamePart" value="Q.SDRN.EventSystem" />
            <parameter name="EventSystem.ErrorsQueueName" value="errors" />
            <parameter name="EventSystem.LogQueueName" value="log" />
            <parameter name="EventSystem.UseEncryption" value="false" />
            <parameter name="EventSystem.UseCompression" value="false" />

            <!-- Каталог размещения файлов карт для автоматисеского импорта в хранилище -->
            <parameter name="AutoImport.Maps.Folder" value="C:\Temp\Maps" />
            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта карт -->
            <parameter name="AutoImport.Maps.StartDelay" value="10" />
            <!-- Пауза в секундах перед повтором автоматического импорта карт, фактически интервал сканирования каталога -->
            <parameter name="AutoImport.Maps.RepeatDelay" value="60" />

          </parameters>
        </component>

        <component type="SdrnInfocenterIntegrationAppUnit" assembly="Atdi.AppUnits.Sdrn.Infocenter.Integration">
          <parameters>

            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта драйв тестов с БД SDRN Server -->
            <parameter name="AutoImport.SdrnServer.StartDelay" value="20" />
            <!-- Пауза в секундах перед повтором автоматического импорта драйв тестов с БД SDRN Server -->
            <parameter name="AutoImport.SdrnServer.RepeatDelay" value="60" />
            <!-- Максимальное кол-во результатов на одну итерацию синхронизации -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.FetchRows" value="1000" />
            <!-- Период актуальности данных в часах с текущего момента, т.е. данные раньше чем этот период загружены не будут -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.Period" value="1" />

            <!-- Максимальное кол-во записей о точках на одно чтение -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.Points.FetchRows" value="500000" />
            <!-- Размер буфера порции точек -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.Points.BufferSize" value="10000" />
            <!-- Размер буфера для точек в общем маршруте -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.Route.BufferSize" value="1000" />

            <!-- Каталог размещения файлов для автоматисеского импорта в хранилище -->
            <parameter name="AutoImport.Files.Folder" value="C:\Temp\Files" />
            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта файлов -->
            <parameter name="AutoImport.Files.StartDelay" value="20" />
            <!-- Пауза в секундах перед повтором автоматического импорта файлов, фактически интервал сканирования каталога -->
            <parameter name="AutoImport.Files.RepeatDelay" value="60" />
          </parameters>
        </component>

        <!-- Точка регистрации компонентов Web API -->

        <component type="SelfHostWebApiServices" instance="SdrnInfocenterWebApiServer" assembly="Atdi.WebApiServices.SelfHost">
          <parameters>
            <parameter name="Url" value="http://localhost:15075/appserver/v1"/>
          </parameters>
        </component>

        <component type="SdrnInfocentrWebApiServices" assembly="Atdi.WebApiServices.Sdrn.Infocenter">
          <parameters>
            <!-- Инстанс компоненты хоста Web API - в данном случаи равен "SdrnDeviceWebApiServer" из предыдущего подключения  -->
            <parameter name="Instance" value="SdrnInfocenterWebApiServer"/>
          </parameters>
        </component>

        <component type="EntityOrmWebApiServices" assembly="Atdi.WebApiServices.EntityOrm">
          <parameters>
            <!-- Инстанс компоненты хоста Web API - в данном случаи равен "SdrnDeviceWebApiServer" из предыдущего подключения  -->
            <parameter name="Instance" value="SdrnInfocenterWebApiServer"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>
