@{
    Layout = "~/Views/Shared/_portalLayout.cshtml";
}
<section>
    <header>
        <h2>Web Query Groups</h2>
        <ul id="queryGroups">
            <li>
                <span>Query group 1</span>
                <ul id="qg1">
                    <li><a href="#">Query 1</a></li>
                    <li><a href="#">Query 2</a></li>
                    <li><a href="#">Query 3</a></li>
                </ul>
            </li>
            <li>
                <span>Query group 2</span>
                <ul id="qg2">
                    <li><a href="#">Query 1</a></li>
                    <li><a href="#">Query 2</a></li>
                    <li><a href="#">Query 3</a></li>
                </ul>
            </li>
            <li>
                <span>Query group 3</span>
                <ul id="qg3">
                    <li><a href="#">Query 1</a></li>
                    <li><a href="#">Query 2</a></li>
                    <li><a href="#">Query 3</a></li>
                </ul>
            </li>
        </ul>
    </header>
</section>
<section>
    <header>
        <h2>Query Result Data</h2>
    </header>
</section>