<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerProcessingAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Processing">
          <parameters>
            
            <!-- Время в миллисекундах задержки потока обработки отложенных задач -->
            <!-- пример  value="600000" -->
            <parameter name="DurationWaitingEventWithTask" value=""/>

            <!-- Время в минутах, которое определяет какие задачи должны запускаться
                 Если время до запуска задачи меньше времени MaxDurationBeforeStartTimeTask, то задача сразу запускается,
             Если время до запуска больше MaxDurationBeforeStartTimeTask, то задача попадает в очередь отложенных задач  -->
            <!-- пример  value="20" -->
            <parameter name="MaxDurationBeforeStartTimeTask" value=""/>

           

            <!-- Время в миллисекундах в течении которого мы посылаем один результат для типа измерения Signaling   -->
            <!-- пример  value="60000" -->
            <parameter name="durationForSendResultSignaling" value=""/>

            <!-- Время в миллисекундах в течении которого мы посылаем один результат для типа измерения BandWidth   -->
            <!-- пример  value="60000" -->
            <parameter name="durationForSendResultBandWidth" value=""/>


            <!-- Время в миллисекундах в течении которого мы посылаем один результат для типа измерения Spectrum Occupation   -->
            <!-- пример  value="60000" -->
            <parameter name="durationForSendResultSO" value=""/>

            <!-- Время в миллисекундах  ожидания сообщения типа SensorRegistrationResult в воркере RegisterSensorTaskWorker  -->
            <!-- пример  value="300000" -->
            <parameter name="MaxTimeOutReceiveSensorRegistrationResult" value=""/>

            <!-- Время в миллисекундах  ожидания сообщения типа GpsResult в воркере GPSWorker  -->
            <!-- пример  value="5000" -->
            <parameter name="DurationWaitingRceivingGPSCoord" value=""/>

            <!-- Время в миллисекундах  ожидания сообщения типа SpectrumOcupationResult в воркере SOTaskWorker -->
            <!-- пример  value="5000" -->
            <parameter name="maximumTimeForWaitingResultSO" value=""/>

            <!-- Специальный коэффициент для расчета времени приостановки потока, выполняющего измерение SO
             ДЛя огибок типа CommandFailureReason.NotFoundConvertor, CommandFailureReason.NotFoundDevice
             -->
            <!-- пример  value="5000" -->
            <parameter name="KoeffWaitingDevice" value=""/>

            <!--Погрешность для долготы-->
            <!-- пример  value="0.0000001" -->
            <parameter name="LonDelta.double" value=""/>

            <!--Погрешность для широты-->
            <!-- пример  value="0.0000001" -->
            <parameter name="LatDelta.double" value=""/>

            <!--Погрешность для Asl-->
            <!-- пример  value="5" -->
            <parameter name="AslDelta.double" value=""/>

            <!--Периодичность в миллисекундах  отправки сообщений о координатах сенсора в SDRNS-->
            <!-- пример  value="6000" -->
            <parameter name="PeriodSendCoordinatesToSDRNS" value=""/>

            <!--Период в миллисекундах проверки наличия в БД новых тасков-->
            <!-- пример  value="2000" -->
            <parameter name="DurationWaitingCheckNewTasks" value=""/>


            <!-- период в миллисекундах временной приостановки потока выполнения задачи отправки очередного результата в шину RabbitMQ при возникновении ошибки -->
            <parameter name="SleepTimePeriodWaitingErrorSendingBus_ms" value=""/>

            <!-- период в миллисекундах временной приостановки потока выполнения задачи отправки очередного результата в шину RabbitMQ -->
            <parameter name="SleepTimePeriodSendingBus_ms" value=""/>

            

            <!-- период в миллисекундах временной приостановки потока выполнения задачи отправки уведомления об активности сенсора -->
            <!-- пример  value="60000" -->
            <parameter name="SleepTimePeriodSendActivitySensor_ms" value=""/>


            <!-- период в миллисекундах временной приостановки потока выполняющего "перевод" таска со статуса F в А (только для задач, которые восстанавливаются с БД и имеют статус F) -->
            <!-- пример  value="100" -->
            <parameter name="SleepTimeForUpdateContextSOTask_ms" value=""/>

            <!-- Время в миллисекундах  ожидания сообщения типа MeasResults в воркере SignalizationTaskWorker -->
            <!-- пример  value="1000" -->
            <parameter name="maximumTimeForWaitingResultSignalization" value=""/>

           
            <!-- Время в миллисекундах  ожидания сообщения  в воркере BandWidthTaskWorker -->
            <!-- пример  value="1000" -->
            <parameter name="maximumTimeForWaitingResultBandWidth" value=""/>

            <!--  Asl по умолчанию -->
            <!-- пример  value="130" -->
            <parameter name="AslDefault.double" value=""/>

            <!--  Longitude по умолчанию-->
            <!-- пример  value="30.32523" -->
            <parameter name="LonDefault.double" value=""/>

            <!--  Latitude по умолчанию-->
            <!-- пример  value="50.23533" -->
            <parameter name="LatDefault.double" value=""/>

            <!-- Признак, указывающий на включение режима обработки даннsх GPS-->
            <parameter name="EnableGPS" value="false"/>


          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>