<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
   <add name="DB_SDRN_Server_ConnectionString" connectionString="Application Name=SDRN.Server;Server=192.168.33.110;Database=DB_SDRN_Server;UID=sa; PWD = P@ssw0rd;"/>
   <add name="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.1.35)(PORT = 1522))(CONNECT_DATA = (SERVICE_NAME = ORCL2))); User Id = ICSM; Password = ICSM; enlist=false;" />
  </connectionStrings>
  
  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\Projects\Repos\atdi.ua\Dev\"/>
      <property name="SearchAssembliesPattern" value="\bin\Debug$"/>
      <property name="SearchAssembliesPattern_" value="\bin\Release$"/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Trace"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>

        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <parameter name="EnvironmentFileName" value="Metadata/Environment.xml"/>
          </parameters>
        </component>
        
        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_Server_DB, dataEngine=Oracle, connectionStringConfig=ORACLE_DB_ICSM_ConnectionString}"/>
            
          </parameters>
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>
        <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer">
        </component>
        
        <component type="SdrnServerAppUnit" assembly="Atdi.AppUnits.Sdrn.Server">
          <parameters>


            <parameter name="License.ProductKey" value="EAAAANAPmNnvRvdr/xmBoeAiyTjqZYG0CUcIPMrGry8OrrFCc3MZ5liXW8HsEM+j2U6RPg==" />
            <parameter name="License.OwnerId" value="EAAAAClFWlewql0EU0mc5TXRR7uU2R3JDK8piLAW2dbbP3n43gfLK/IElQ8gfsc1zhcvSA==" />
            <parameter name="License.FileName"  value="LIC-SBD13-G65-607.SDRNSV-SBD13-G65-3690.lic" />
            <parameter name="EventSystem.ApiVersion" value="1.0"/>
            <parameter name="EventSystem.AppName" value="SDRN.Server"/>
            <parameter name="EventSystem.EventBus.Host" value="10.1.2.130"/>
            <parameter name="EventSystem.EventBus.VirtualHost" value="EventSystem"/>
            <parameter name="EventSystem.EventBus.Port" value="5672"/>
            <parameter name="EventSystem.EventBus.User" value="SDR_Client"/>
            <parameter name="EventSystem.EventBus.Password" value="EAAAANSRwklSvEDPTdnj7wk108ESkXPMLQ/Y1OxFRH2i6npS"/>
            <parameter name="EventSystem.EventExchange" value="EX.SDRN.EventSystem"/>
            <parameter name="EventSystem.EventQueueNamePart" value="Q.SDRN.EventSystem"/>
            <parameter name="EventSystem.ErrorsQueueName" value="errors"/>
            <parameter name="EventSystem.LogQueueName" value="log"/>
            <parameter name="EventSystem.UseEncryption" value="false"/>
            <parameter name="EventSystem.UseCompression" value="false"/>



          </parameters>
        </component>
        
        <component type="SdrnBusControllerAppUnit" assembly="Atdi.AppUnits.Sdrn.BusController">
          <parameters>
            <parameter name="ApiVersion" value="2.0"/>

            <parameter name="MessageBus.Host" value="10.1.2.130"/>
            <parameter name="MessageBus.VirtualHost" value="/"/>
            <parameter name="MessageBus.Port" value="5672"/>
            <parameter name="MessageBus.User" value="SDR_Client"/>
            <parameter name="MessageBus.Password" value="EAAAANSRwklSvEDPTdnj7wk108ESkXPMLQ/Y1OxFRH2i6npS"/>

            <parameter name="Server.Exchange" value="EX.SDRN.Server"/>
            <parameter name="Device.Exchange" value="EX.SDRN.Device"/>

            <parameter name="Server.QueueNamePart" value="Q.SDRN.Server"/>
            <parameter name="Device.QueueNamePart" value="Q.SDRN.Device"/>
            <parameter name="Server.Queues" value="{routingKey=#01, consumerCount=5};{routingKey=#02, consumerCount=5};{routingKey=#03, consumerCount=5};{routingKey=#04, consumerCount=5};{routingKey=#05, consumerCount=5};{routingKey=#06, consumerCount=5}"/>
            <parameter name="MessageConvertor.UseEncryption" value="true"/>
            <parameter name="MessageConvertor.UseCompression" value="true"/>

          </parameters>
        </component>

        <component type="SdrnServerPrimaryHandlersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.PrimaryHandlers">
        </component>

        <component type="SdrnServerWcfServices" assembly="Atdi.WcfServices.Sdrn.Server">
          <parameters>
            <parameter name="ISdrnsController" value="{binding=basicHttpBinding, address=http://localhost:8737/Atdi/WcfServices/Sdrn/Server/SdrnsController/};  {binding=netTcpBinding, address=net.tcp://localhost:8736/Atdi/WcfServices/Sdrn/Server/SdrnsController/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/Sdrn/Server/SdrnsController/}"/>

           
          </parameters>
        </component>
        
      </components>
    </appServer>

  </atdi.platform>
  
</configuration>
