<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="ServerInstance" value="ServerSDRN01" />
    <add key="ExchangePointFromDevices" value="EX.SDRN.Device" />
    <add key="ExchangePointFromServer" value="EX.SDRN.Server" />
    <add key="StartNameQueueServer" value="Q.SDRN.Server" />
    <add key="StartNameQueueDevice" value="Q.SDRN.Device" />
    <add key="ConcumerDescribe" value="{Name =  #01;ConcumerCount = 1}{Name=#02;ConcumerCount=1}{Name=#03;ConcumerCount=1}{Name=#04;ConcumerCount=1}{Name=#05;ConcumerCount=1}{Name=#06;ConcumerCount=1}" />
    <add key="RabbitHostName" value="10.1.2.129" />
    <add key="RabbitUserName" value="SDR_Client" />
    <add key="ApiVersion" value="v2.0" />
    <add key="License.ProductKey" value="EAAAAOuumHG6zc2XwkX1DFvAIqxqz4DsH+F6LM/g0qPT5EgvW8/09CAZ/J9XLT5Iv88hdQ==" />
    <add key="License.OwnerId" value="EAAAAHNRnqZnsx567G82bLp1w5RQEQwMcwCI2dQNeqlyDVdJ" />
    <add key="RabbitMQ.Password" value="EAAAANSRwklSvEDPTdnj7wk108ESkXPMLQ/Y1OxFRH2i6npS" />
    <add key="LicenseDevice.FileName" value="LCS-2018-TEST INS-DV-2018-TEST.lic" />
  </appSettings>
</configuration>
