<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnAppServer">

      <components>

        <component type="SdrnServerEventSubscribersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.EventSubscribers">
          <parameters>

            <!-- Конфишурация компоненты -->
            <!-- Григорий знает назначение ;) -->
            <parameter name="ResSysInfo.Data" value="" />
            <!--   время для группировки записей workTime по умолчанию 60 -->
            <parameter name="TimeBetweenWorkTimes_sec" value="60"/>
            <!--  true означает что можно адаптировать коэфициент корреляции. Устанавливается когда первоначально коэфициент корреляции 0.99 и выше. -->
            <parameter name="CorrelationAdaptation" value="true"/>
            <!--   -->
            <parameter name="MaxNumberEmitingOnFreq" value="25"/>
            <!--   -->
            <parameter name="MinCoeffCorrelation.double" value="0,8"/>
            <!--  признак что делается все для Украины -->
            <parameter name="UkraineNationalMonitoring" value="true"/>
            <!--   -->
            <parameter name = "CountMaxEmission" value="1000"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>