<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnAppServer">

      <components>

        <component type="SdrnServerEventSubscribersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.EventSubscribers">
          <parameters>

            <!-- Конфишурация компоненты -->

            <!-- Григорий знает назначение ;) -->
            <parameter name="ResSysInfo.Data" value="" />
            
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>