<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>


        <bindings>
            <basicHttpBinding>
<binding name="BasicHttpBinding_ISdrnsController" transferMode="Streamed"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
		openTimeout="10:10:00" 
                 closeTimeout="10:10:00" 
                 sendTimeout="10:10:00" 
                 receiveTimeout="10:10:00"
>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"

                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"

                        maxNameTableCharCount="2147483647" />
<security mode="None">

<transport clientCredentialType="None"/>

</security>

        </binding>
</basicHttpBinding>
        </bindings>
        <client>
            <endpoint
	        name="SdrnsController"
		address="http://10.1.1.214:8737/Atdi/WcfServices/Sdrn/Server/SdrnsController/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISdrnsController"
                contract="Atdi.Contracts.WcfServices.Sdrn.Server.ISdrnsController">
            </endpoint>
        </client>
    </system.serviceModel>
 
</configuration>