<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<add key="SdrnServerRestEndpoint" value="http://10.1.1.195:15020/appserver/v1" />
<add key="UICulture" value="uk-UA"/>
</appSettings>
    <system.serviceModel>


        <bindings>
            <basicHttpBinding>
<binding name="BasicHttpBinding_ISdrnsController" transferMode="Streamed"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
		openTimeout="10:10:00" 
                 closeTimeout="10:10:00" 
                 sendTimeout="10:10:00" 
                 receiveTimeout="10:10:00"
>
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"

                        maxArrayLength="2147483647" maxBytesPerRead="2147483647"

                        maxNameTableCharCount="2147483647" />
<security mode="None">

<transport clientCredentialType="None"/>

</security>

        </binding>

              <binding name="BasicHttpBinding_ISdrnsControllerIeStation" transferMode="Streamed"  maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
              openTimeout="10:10:00"
                           closeTimeout="10:10:00"
                           sendTimeout="10:10:00"
                           receiveTimeout="10:10:00"
>
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"

                              maxArrayLength="2147483647" maxBytesPerRead="2147483647"

                              maxNameTableCharCount="2147483647" />
                <security mode="None">

                  <transport clientCredentialType="None"/>

                </security>

              </binding>
</basicHttpBinding>
        </bindings>
        <client>
            <endpoint
	        name="SdrnsController"
		address="http://localhost:8737/Atdi/WcfServices/Sdrn/Server/SdrnsController/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISdrnsController"
                contract="Atdi.Contracts.WcfServices.Sdrn.Server.ISdrnsController">
            </endpoint>
	    <endpoint
	        name="SdrnsControllerIeStation"
		address="http://localhost:8739/Atdi/WcfServices/Sdrn/Server/IeStation/SdrnsControllerIeStation/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISdrnsControllerIeStation"
                contract="Atdi.Contracts.WcfServices.Sdrn.Server.IeStation.ISdrnsControllerIeStation">
            </endpoint>
        </client>
    </system.serviceModel>
 <system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
</system.net>
</configuration>