<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="RepositoryDeviceServices" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Repositories">
          <parameters>
            <!-- путь к директории, в которой будут храниться данные о тасках -->
            <parameter name="FolderTaskParameters" value=""/>
            <!-- путь к директории, в которой будут храниться результаты измерений для последующей отправки их в шину -->
            <parameter name="FolderMeasResults" value=""/>
            <!-- путь к директории, в которой будут храниться уведомления о смене статуса таска (для отправки в сервис sdrn) -->
            <parameter name="DeviceCommandResult" value=""/>
            <!-- путь к директории, в которой будут храниться уведомления типа DeviceCommand  (остановка, запуск и удаление тасков) -->
            <parameter name="FolderDeviceCommand" value=""/>
          
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>