@{
    Layout = "~/Views/Shared/_portalLayout.cshtml";
}
<h1> SDRN Web Portal 1 <span>FPS: </span><span id="fps">"001"</span> <span id="xy"> X: 0, Y: 0</span></h1>

<canvas id="gridCanvas" class="canvasjs-chart-canvas" width="3840" height="2160" style="position: absolute; -moz-user-select: none; z-index: 0"></canvas>
<canvas id="mouseCanvas" class="canvasjs-chart-canvas" width="3840" height="2160" style="position: absolute; -moz-user-select: none; z-index: 1"></canvas>