<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true"  allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <connectionStrings>
    <!--<add name ="DB_ICSM_ConnectionString" connectionString="Application Name=WebQueryServer;Server=WIN-KACCMH56ISB\SQLEXPRESS;Database=RAK;UID=sa; PWD = P@ssw0rd;"/>-->
    <add name ="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.1.37)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = ICS))); User Id = ICSM; Password = ICSM;"/>
  </connectionStrings>
  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\projects\reposApi2_#552_SDRN_3_0_2_Only_Coordinates\Dev\Hosts\Atdi.AppServer.CoverageCalculation.Console\bin\Debug\" />
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component  service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform"  lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us" />
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging" >
        <parameters>
          <parameter name="EventsCapacity" value="20000" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000" />
          <parameter name="Levels" value="" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="FolderPath" value="C:\Temp\Logs" />
          <parameter name="Levels" value="" />
        </parameters>
      </install>


      
      <!--
      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="FolderPath" value="C:\Temp\Logs" />
          <parameter name="FilePrefix" value="sql_" />
          <parameter name="Levels" value="" />
          <parameter name="Contexts" value="SQL Server Engine" />
          <parameter name="Categories" value="Executing command" />
        </parameters>
      </install>
      -->
      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="WebQueryServer">

      <properties>
        <property name="ThreadPoolSize" value="500" />
      </properties>

      <components>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <!--<parameter name="DataContexts" value="{name=ICSM_DB, dataEngine=SqlServer, connectionStringConfig=DB_ICSM_ConnectionString}" />-->
            <parameter name="DataContexts" value="{name=ICSM_DB, dataEngine=Oracle, connectionStringConfig=ORACLE_DB_ICSM_ConnectionString}" />
          </parameters>
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>

        <component type="IcsmLegacyServices" assembly="Atdi.LegacyServices.Icsm">
          <parameters>
            <parameter name="SchemasPath" value="C:\ATDI\ICS Manager" />
            <parameter name="SchemaPrefix" value="ICSM" />
            <parameter name="Edition" value="Standard" />
            <parameter name="Schemas" value="ICSM,UcrfRfaNET,Atdi.Icsm.Plugins.WebQuery,Atdi.Icsm.Plugins.WebQueryExtended" />
            <parameter name="Modules" value="Base,AllPresent,WORKFLOW,BILLING,ALLOC,FACSMAB,KOS,INSPECTION,COMPLAINT,COORD_ENV,PHONE,DIRISI,WHITESPACE,MINTIC,LFMF,BROS,STUDIO,ESTA,FXLK,WIENFIX,HCMFIX,HFBC,HFANA,MARITIME,AERO,CSA,MRFL,BIAF,CASSIC,MOBENV,PMR,GSM,MOB,WIENMOB,FIXMOB,CAF,FNF,COMSIS,BRUNEI,THALES_SMS,SCORPIO,NEWBRO,PLUGIN_1,PLUGIN_2,PLUGIN_3,PLUGIN_4" />
          </parameters>
        </component>

        <component type="IdentityCoreServices" assembly="Atdi.CoreServices.Identity">
        </component>


        <component type="WebQueryAppServices" assembly="Atdi.AppServices.WebQuery">

          <parameters>
            <parameter name="License.FileName" value="C:\projects\reposApi2_#552_SDRN_3_0_2_Only_Coordinates\Dev\Hosts\Atdi.AppServer.CoverageCalculation.Console\bin\Debug\LIC-WQASBD12-A00-319.APPSRV-WQBD12-A00-4575.lic" />
            <parameter name="License.OwnerId" value="EAAAAC/onR2xMtgjwTuip8NvBmJu7g6LgqkyF+TTB2iqtEnqwtX4J/47m8FpGq7adx1trQ==" />
            <parameter name="License.ProductKey" value="EAAAAJluNkqZlDMy7nGftui8PojC10xF4IOj8GLL481/RtcTOZjlM2flpNahWpH4FPvnsQ==" />
          </parameters>
        </component>



        <component type="IcsmCoverageEstimationAppUnit" assembly="Atdi.AppUnits.Icsm.CoverageEstimation">
          <parameters>
            <!-- Рабочий каталог Телеком (пример)-->
            <parameter name="Telecom.CoverageConfigFileName" value="c:\projects\reposApi2_#552_SDRN_3_0_2_Only_Coordinates\Dev\Hosts\Atdi.AppServer.WebQuery.Console\bin\Debug\CalcCovConfig.xml" />
            <parameter name="Telecom.ProtocolOperationFileNameForMobStation" value="c:\projects\reposApi2_#552_SDRN_3_0_2_Only_Coordinates\Dev\Hosts\Atdi.AppServer.WebQuery.Console\bin\Debug\ProtocolOperationMobStation.pro" />
            <parameter name="Telecom.ProtocolOperationFileNameForMobStation2" value="c:\projects\reposApi2_#552_SDRN_3_0_2_Only_Coordinates\Dev\Hosts\Atdi.AppServer.WebQuery.Console\bin\Debug\ProtocolOperationMobStation2.pro" />
            <parameter name="Telecom.IsRepeatable" value="false" />
            <parameter name="Telecom.IsSaveFinalCoverageToDB" value="false" />
            <parameter name="Telecom.HookBitBltWinAPIFunctionInjectDll" value="c:\projects\reposApi2_#552_SDRN_3_0_2_Only_Coordinates\Dev\Hosts\Atdi.AppServer.WebQuery.Console\bin\Debug\HookDll.dll" />
          </parameters>
        </component>


      </components>
    </appServer>

  </atdi.platform>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
      type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>

</configuration>