<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnCalcAppServer">

      <components>

        <component type="SdrnCalcServerTasksAppUnit" assembly="Atdi.AppUnits.Sdrn.CalcServer.Tasks">
          <parameters>

          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>