<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnCalcAppServer">

      <components>

        <component type="SdrnCalcServerTasksAppUnit" assembly="Atdi.AppUnits.Sdrn.CalcServer.Tasks">
          <parameters>
            <!-- Кол-во элементов в пуле объектов-масивов индексаторов для итерации расчета покрытия
                 которые будут созданы сразу при загрузке сервера приложения.
            -->
            <parameter name="Thresholds.Gis.ProfileData.ObjectPool.MinSize" value="0" />
            <!-- Кол-во элементов в пуле объектов-масивов индексаторов для итерации расчета покрытия 
                 Фактически определяет кол-во одновременных расчетов покрытия в единицу времени
            -->
            <parameter name="Thresholds.Gis.ProfileData.ObjectPool.MaxSize" value="10" />

            <!-- Порговое значение: Кол-во элементов в масивах выделаемых для профелей покрытия 
                 Фактически определяет предельную порцию необходимой памяти под хранения данных одного прфили
                 Память резервируется при создании объекта-пула
            -->
            <parameter name="Thresholds.StationCalibration.ArrayLength" value="10000" />

            <parameter name="Thresholds.StationCalibration.ObjectPool.MinSize" value="0" />

            <parameter name="Thresholds.StationCalibration.ObjectPool.MaxSize" value="10" />

            <parameter name="Thresholds.Gis.ProfileData.ArrayLength" value="10000" />

            <parameter name="MaxCountPointInDriveTest" value="5000" />

            <parameter name="MaxCountStationsByOneStandard" value="50000" />

            <parameter name="MaxCountDriveTestsByOneStandard" value="10000" />

            <!-- Минимальное расстояние к drive point для стандарта GSM -->
            <parameter name="MinDistanceBetweenDriveTestAndStation_GSM" value="1" />

            <!-- Минимальное расстояние к drive point для стандарта UMTS -->
            <parameter name="MinDistanceBetweenDriveTestAndStation_UMTS" value="1" />

            <!-- Минимальное расстояние к drive point для стандарта LTE -->
            <parameter name="MinDistanceBetweenDriveTestAndStation_LTE" value="1" />

            <!-- Минимальное расстояние к drive point для стандарта CDMA -->
            <parameter name="MinDistanceBetweenDriveTestAndStation_CDMA" value="1" />

            <parameter name="Thresholds.GE06PointEarthGeometric.ArrayLength" value="20000" />

            <parameter name="Thresholds.GE06PointEarthGeometric.ObjectPool.MinSize" value="0" />

            <parameter name="Thresholds.GE06PointEarthGeometric.ObjectPool.MaxSize" value="10" />


          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>