<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="MonitoringCoreServices" assembly="Atdi.CoreServices.Monitoring">
          <parameters>
           <!-- Размер буфера сообщений из лога -->
            <parameter name="LogEvent.BufferSize" value="5000"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>