<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>
        
        <component type="SdrnDeviceServerSignalHoundAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SignalHound">
          <parameters>
            <!-- Серийный номер прибора, по нему производится подключение к прибору с этим номером.
                 Узнать его можно по наклейке на приборе, в Spyke или в свойствах драйвер в диспетчере устройств-->
            <parameter name="SerialNumber" value=""/>
          </parameters>          
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>