<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnCalcAppServer">

      <components>

        <component type="SdrnCalcServerAppUnit" assembly="Atdi.AppUnits.Sdrn.CalcServer">
          <parameters>
            <!-- Имя файла лицензии-->
            <parameter name="License.FileName" value="" />
            <!-- Зашифрованное значение идентификатора владельца лиензии -->
            <parameter name="License.OwnerId" value="" />
            <!-- Зашифрованное значение ключа продукта -->
            <parameter name="License.ProductKey" value="" />

            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта карт -->
            <parameter name="ProcessJob.StartDelay" value="" />
            <!-- Пауза в милесекундах перед повтором автоматического импорта карт, фактически интервал сканирования каталога -->
            <parameter name="ProcessJob.RepeatDelayy" value="" />

            <!-- Пороговое значение максимального кол-ва шагов в заказываемой карте проекта-->
            <parameter name="Threshold.MaxSteps" value="225000000" />

            <!-- Каталог размещения локальных карт -->
            <parameter name="Maps.LocalStorage.Folder" value="C:\Temp\Maps\LocalStorage" />
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
  
</configuration>