<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <!-- Имя xml-файла конфигурации окружения методанных, можно указать вложенные каталоги относительно размещения dll-ки компонента -->
            <!-- Пример значения: Metadata/Environment.xml -->
            <parameter name="EnvironmentFileName" value=""/>

            <!-- настройка разных контекстов -->
            <parameter name="Environments" value="{Context=Name1, Path='C:\...\Environment.xml'}{Context=Name2, Path='C:\...\Environment.xml'}" />
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>