<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="DB_SDRN_Server_ConnectionString" connectionString="Application Name=SDRN.Server;Server=192.168.33.110;Database=DB_SDRN_Server;UID=sa; PWD = P@ssw0rd;"/>
    <add name="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.35) (PORT=1522))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ICSM_AZ))); User Id = ICSC; Password = ICSC; enlist=false;" />
  </connectionStrings>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="c:\projects\reposApi2_#552_SDRN_3_0\Dev\Hosts\Atdi.AppServer.Sdrn.AggregationServer.Console.SG\bin\Debug\"/>
      <property name="SearchAssembliesPattern" value=""/>
      <property name="SearchAssembliesPattern_" value=""/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Trace"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>

        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <parameter name="EnvironmentFileName" value="Metadata/Environment.xml"/>
          </parameters>
        </component>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_Server_DB, dataEngine=Oracle, connectionStringConfig=ORACLE_DB_ICSM_ConnectionString}"/>

          </parameters>
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>

        <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer">
        </component>

        <component type="SdrnServerAppUnit" assembly="Atdi.AppUnits.Sdrn.Server">
          <parameters>

            <!-- Имя файла лицензии-->
            <parameter name="License.FileName" value="LIC-SBD12-A00-932.SDRNSV-SBD12-A00-1589.lic" />
            <!-- Зашифрованное значение идентификатора владельца лиензии -->
            <parameter name="License.OwnerId" value="EAAAAFeVHxPLppDShizrdjkPAK+ye0P+W7NFLiSV+chdiac0rHMv4YY4vMzzU3O1Jkp9hQ==" />
            <!-- Зашифрованное значение ключа продукта -->
            <parameter name="License.ProductKey" value="EAAAALjpD7qvoDqhl1zkZFgYxz17IT26R7j18OosYQ1QU+m2M5aCQyCi1JZFDKAkzbv25A==" />

            
            <parameter name="EventSystem.ApiVersion" value="1.0"/>
            <parameter name="EventSystem.AppName" value="SDRN.Server"/>
            <parameter name="EventSystem.EventBus.Host" value="10.1.1.131"/>
            <parameter name="EventSystem.EventBus.VirtualHost" value="EventSystem_214_Aggregation"/>
            <parameter name="EventSystem.EventBus.Port" value="5672"/>
            <parameter name="EventSystem.EventBus.User" value="SDR_Client"/>
            <parameter name="EventSystem.EventBus.Password" value="EAAAANSRwklSvEDPTdnj7wk108ESkXPMLQ/Y1OxFRH2i6npS"/>
            <parameter name="EventSystem.EventExchange" value="EX.SDRN.EventSystem"/>
            <parameter name="EventSystem.EventQueueNamePart" value="Q.SDRN.EventSystem"/>
            <parameter name="EventSystem.ErrorsQueueName" value="errors"/>
            <parameter name="EventSystem.LogQueueName" value="log"/>
            <parameter name="EventSystem.UseEncryption" value="false"/>
            <parameter name="EventSystem.UseCompression" value="false"/>



          </parameters>
        </component>

        <component type="SdrnBusControllerAppUnit" assembly="Atdi.AppUnits.Sdrn.BusController">
          <parameters>
            <parameter name="ApiVersion" value="2.0"/>

            <parameter name="MessageBus.Host" value="10.1.1.131"/>
            <parameter name="MessageBus.VirtualHost" value="Control_214"/>
            <parameter name="MessageBus.Port" value="5672"/>
            <parameter name="MessageBus.User" value="SDR_Client"/>
            <parameter name="MessageBus.Password" value="EAAAANSRwklSvEDPTdnj7wk108ESkXPMLQ/Y1OxFRH2i6npS"/>

            <parameter name="Server.Exchange" value="EX.SDRN.Server"/>
            <parameter name="Device.Exchange" value="EX.SDRN.Device"/>

            <parameter name="Server.QueueNamePart" value="Q.SDRN.Server"/>
            <parameter name="Device.QueueNamePart" value="Q.SDRN.Device"/>
            <parameter name="Server.Queues" value="{routingKey=#01, consumerCount=2};{routingKey=#02, consumerCount=2};{routingKey=#03, consumerCount=2};{routingKey=#04, consumerCount=2};{routingKey=#05, consumerCount=2};{routingKey=#06, consumerCount=2};{routingKey=#07, consumerCount=2}"/>
            <parameter name="MessageConvertor.UseEncryption" value="true"/>
            <parameter name="MessageConvertor.UseCompression" value="true"/>

          </parameters>
        </component>


        <component type="SdrnServerDevicesBusAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.DevicesBus">
          <parameters>

          </parameters>
        </component>

        <component type="SdrnServerEventSubscribersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.EventSubscribers">
          <parameters>
            <parameter name="ResSysInfo.Data" value="true"/>
          </parameters>
        </component>

        <component type="SdrnServerPrimaryHandlersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.PrimaryHandlers">
        </component>

      
        

        <!-- Точка определения Master-роль сервера SDRN -->
        <component type="SdrnAggregationServerAppUnit" assembly="Atdi.AppUnits.Sdrn.AggregationServer">
          <parameters>

            <!-- Конфишурация лицензии -->

            <!-- Имя файла лицензии-->
            <parameter name="License.FileName" value="LIC-SBD12-A00-932.SDRNSV-SBD12-A00-1589.lic" />
            <!-- Зашифрованное значение идентификатора владельца лиензии -->
            <parameter name="License.OwnerId" value="EAAAAFeVHxPLppDShizrdjkPAK+ye0P+W7NFLiSV+chdiac0rHMv4YY4vMzzU3O1Jkp9hQ==" />
            <!-- Зашифрованное значение ключа продукта -->
            <parameter name="License.ProductKey" value="EAAAALjpD7qvoDqhl1zkZFgYxz17IT26R7j18OosYQ1QU+m2M5aCQyCi1JZFDKAkzbv25A==" />

            <!-- Конфишурация шины передачи данных -->

            <!-- Версия АПИ  -->
            <parameter name="DataBus.ApiVersion" value="1.0"/>
            <!-- Имя шины  -->
            <parameter name="DataBus.Name" value="SDRNS"/>
            <parameter name="DataBus.Host" value="10.1.1.131"/>
            <!-- Порт, не обязательно, в этом случаи будет использован по умолчанию  -->
            <parameter name="DataBus.Port" value="5672"/>
            <!-- Виртуальных хост размещения очередей -->
            <parameter name="DataBus.VirtualHost" value="DataBus.SDRN"/>
            <!-- Имя пользователя -->
            <parameter name="DataBus.User" value="SDR_Client"/>
            <!-- Зашифрованное значение пароля пользователя -->
            <parameter name="DataBus.Password" value="EAAAANSRwklSvEDPTdnj7wk108ESkXPMLQ/Y1OxFRH2i6npS"/>
            
            <!-- Признак шифрования передаваемого сообщения через шину -->
            <parameter name="DataBus.UseEncryption" value="false"/>
            <!-- Признак сжатия передаваемого сообщения через шину -->
            <parameter name="DataBus.UseCompression" value="false"/>
            <!-- Тип содержимого: Json|Xml|Binary  -->
            <parameter name="DataBus.ContentType" value="Binary"/>
            <!-- Тип буферизации сообщений: None|FileSystem|Database -->
            <parameter name="DataBus.UseBuffer" value="FileSystem"/>
            <!-- Путь к каталогу буферизациия в случаи использования фйловой системы -->
            <parameter name="DataBus.Buffer.OutboxFolder" value="C:\Buffer\192.168.33.110\DataBus.SDRN\SDRNS\Outbox" />
            <!-- Имя конфигурации соединения к серверу БД в случаи использования в качестве буфера БД -->
            <parameter name="DataBus.Buffer.ConnectionStringConfig" value="" />
            <!-- Тип содержимого сообщения в буфере:  Json|Xml|Binary  -->
            <parameter name="DataBus.Buffer.ContentType" value="Xml"/>


            <!-- Конфишурация сервера -->

            <!-- Имя интсанса мастер сервера которому подчиненн сервер агрегации. Беретьс яиз лицензии мастер сервера SDRN -->
            <parameter name="SDRN.MasterServer.Instance" value="SDRNSV-SBD12-A00-5244"/>

          </parameters>
        </component>

        <component type="SdrnAggregationServerPrimaryHandlersAppUnit" assembly="Atdi.AppUnits.Sdrn.AggregationServer.PrimaryHandlers">
        </component>

     

      </components>
    </appServer>

  </atdi.platform>

</configuration>
