<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true"  allowDefinition="Everywhere"/>
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!--<add name="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.41) (PORT=1521))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ORCL))); User Id = ICSC; Password = ICSC; enlist=false;" />-->
    <add name="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.35) (PORT=1522))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ICSM_AZ))); User Id = ICSC; Password = ICSC; enlist=false;" />
    <!-- <add name ="DB_SDRN_Server_ConnectionString" connectionString="Application Name=SDRN.Server;Server=DESKTOP-Q4AFHB9\SQLEXPRESS;Database=DB_SDRN_Server_Aggr_1589;UID=sa;PWD=ICSM"/> -->
  </connectionStrings>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="c:\projects\reposApi2_552_SDRN_Develop_3_3_5\Dev\Hosts\Atdi.AppServer.Sdrn.AggregationServer.Console.SG\bin\Debug\"/>
      <property name="SearchAssembliesPattern" value=""/>
      <property name="SearchAssembliesPattern_" value=""/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component  service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform"  lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us" />
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging" >
        <parameters>
          <parameter name="EventsCapacity" value="20000" />
          <parameter name="Levels" value="" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000" />
          <parameter name="Levels" value="" />
          <parameter name="Contexts" value="" />
          <parameter name="Categories" value="" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value="" />
          <parameter name="Contexts" value="" />
          <parameter name="Categories" value="" />
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnServer">

      <properties>
        <property name="ThreadPoolSize" value="500" />
      </properties>

      <components>

        <component type="MonitoringCoreServices" assembly="Atdi.CoreServices.Monitoring">
          <parameters>
            <!-- Размер буфера сообщений из лога -->
            <parameter name="LogEvent.BufferSize" value="5000"/>
            <!-- Размер циклического буфера сообщений в сборщике -->
            <parameter name="Collector.BufferSize" value="10000"/>
            <!-- Период снятия статистики показателей всех счетчиков -->
            <parameter name="Collector.Timeout" value="10000"/>
          </parameters>
        </component>


        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <parameter name="EnvironmentFileName" value="c:\projects\reposApi2_552_SDRN_Develop_3_3_5\Dev\DataModels\Atdi.DataModels.Sdrns.Server.Entities\Metadata\Environment.xml" />
          </parameters>
        </component>


        <component type="AssembliesDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Assemblies">
        </component>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_Server_DB, dataEngine=Oracle, connectionStringConfig=ORACLE_DB_ICSM_ConnectionString};{name=Platform, dataEngine=Assemblies}" />

          </parameters>
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>
        <!-- <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer"> -->
        <!-- </component> -->

        <component type="SdrnServerAppUnit" assembly="Atdi.AppUnits.Sdrn.Server">
          <parameters>

            <parameter name="License.FileName"  value="c:\projects\reposApi2_552_SDRN_Develop_3_3_5\Dev\Hosts\Atdi.AppServer.Sdrn.AggregationServer.Console.SG\bin\Debug\LIC-SBD12-A00-932.SDRNSV-SBD12-A00-1589.lic" />
            <parameter name="License.ProductKey" value="EAAAADm0ctCc5beun4DBVLVbysfHktAyZn4VrFzkDPRwrn8TdbCSDvyw7kO+HPgLZSmpDA==" />
            <parameter name="License.OwnerId" value="EAAAAOrHmVRmwaxRbXzpodkE+dycV0IMAgn04/nH1AutY/EhcGwlKspvNj0zWfRVz+IOUQ==" />
            <parameter name="EventSystem.ApiVersion" value="1.0"/>
            <parameter name="EventSystem.AppName" value="SDRN.Server"/>
            <parameter name="EventSystem.EventBus.Host" value="localhost"/>
            <parameter name="EventSystem.EventBus.VirtualHost" value="214.Test.SDRN.SDRNSV-SBD12-A00-1589.EventSystem"/>
            <parameter name="EventSystem.EventBus.Port" value=""/>
            <parameter name="EventSystem.EventBus.User" value="SDR_Client"/>
            <parameter name="EventSystem.EventBus.Password" value="EAAAAB4ZzznJuQG6H/ElnO6FcAyfCGG3ZkSoPECLX5SdulxL"/>
            <parameter name="EventSystem.EventExchange" value="EX.SDRN.EventSystem"/>
            <parameter name="EventSystem.EventQueueNamePart" value="Q.SDRN.EventSystem"/>
            <parameter name="EventSystem.ErrorsQueueName" value="errors"/>
            <parameter name="EventSystem.LogQueueName" value="log"/>
            <parameter name="EventSystem.UseEncryption" value="false"/>
            <parameter name="EventSystem.UseCompression" value="false"/>


          </parameters>
        </component>

        <component type="SdrnBusControllerAppUnit" assembly="Atdi.AppUnits.Sdrn.BusController" >
          <parameters>
            <parameter name="ApiVersion" value="2.0" />

            <parameter name="MessageBus.Host" value="localhost"/>
            <parameter name="MessageBus.VirtualHost" value="214.Test.SDRN.SDRNSV-SBD12-A00-1589.DevicesBus"/>
            <parameter name="MessageBus.Port" value=""/>
            <parameter name="MessageBus.User" value="SDR_Client"/>
            <parameter name="MessageBus.Password" value="EAAAAB4ZzznJuQG6H/ElnO6FcAyfCGG3ZkSoPECLX5SdulxL"/>

            <parameter name="Server.Exchange" value="EX.SDRN.Server"/>
            <parameter name="Device.Exchange" value="EX.SDRN.Device"/>

            <parameter name="Server.QueueNamePart" value="Q.SDRN.Server"/>
            <parameter name="Device.QueueNamePart" value="Q.SDRN.Device"/>
            <parameter name="Server.Queues" value="{routingKey=#01, consumerCount=2};{routingKey=#02, consumerCount=2};{routingKey=#03, consumerCount=2};{routingKey=#04, consumerCount=2};{routingKey=#05, consumerCount=2};{routingKey=#06, consumerCount=2};{routingKey=#07, consumerCount=2}"/>
            <parameter name="MessageConvertor.UseEncryption" value="true"/>
            <parameter name="MessageConvertor.UseCompression" value="true"/>
            <parameter name="DeviceBus.SharedSecretKey" value="sbfsbfufbsb" />


          </parameters>
        </component>



        <component type="SdrnServerDevicesBusAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.DevicesBus">
          <parameters>
          </parameters>
        </component>

        <component type="SdrnServerEventSubscribersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.EventSubscribers">
          <parameters>
            <!-- Конфишурация компоненты -->
            <!-- Григорий знает назначение ;) -->
            <parameter name="ResSysInfo.Data" value="false" />
            <!--   время для группировки записей workTime по умолчанию 60 -->
            <parameter name="TimeBetweenWorkTimes_sec" value="60"/>
            <!--  true означает что можно адаптировать коэфициент корреляции. Устанавливается когда первоначально коэфициент корреляции 0.99 и выше. -->
            <parameter name="CorrelationAdaptation" value="true"/>
            <!--  Максимальное число эмитингов на частоту -->
            <parameter name="MaxNumberEmitingOnFreq" value="35"/>
            <!--  Минимальное значение коэффициента корелляции -->
            <parameter name="MinCoeffCorrelation.double" value="0,85"/>
            <!--  признак что делается все для Украины -->
            <parameter name="UkraineNationalMonitoring" value="true"/>
            <!--  Ограничение по числу эмитинов -->
            <parameter name = "CountMaxEmission" value="1000"/>

          </parameters>
        </component>

        <component type="SdrnServerPrimaryHandlersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.PrimaryHandlers">
        </component>


        <component type="SdrnAggregationServerAppUnit" assembly="Atdi.AppUnits.Sdrn.AggregationServer">
          <parameters>

            <!-- Конфишурация шины передачи данных -->

            <!-- Версия АПИ  -->
            <parameter name="DataBus.ApiVersion" value="1.0"/>
            <!-- Имя шины  -->
            <parameter name="DataBus.Name" value="SDRNS"/>
            <!-- Хост без порта  -->
            <parameter name="DataBus.Host" value="localhost"/>
            <!-- Порт, не обязательно, в этом случаи будет использован по умолчанию  -->
            <parameter name="DataBus.Port" value=""/>
            <!-- Виртуальных хост размещения очередей -->
            <parameter name="DataBus.VirtualHost" value="214.Test.SDRN.Cluster.DataBus"/>
            <!-- Имя пользователя -->
            <parameter name="DataBus.User" value="SDR_Client"/>
            <!-- Зашифрованное значение пароля пользователя -->
            <parameter name="DataBus.Password" value="EAAAAB4ZzznJuQG6H/ElnO6FcAyfCGG3ZkSoPECLX5SdulxL"/>
            <!-- Признак шифрования передаваемого сообщения через шину -->
            <parameter name="DataBus.UseEncryption" value="false"/>
            <!-- Признак сжатия передаваемого сообщения через шину -->
            <parameter name="DataBus.UseCompression" value="false"/>
            <!-- Тип содержимого:   -->
            <parameter name="DataBus.ContentType" value="Json"/>
            <!-- Тип буферизации сообщений -->
            <parameter name="DataBus.UseBuffer" value="FileSystem"/>
            <!-- Путь к каталогу буферизациия в случаи использования фйловой системы -->
            <parameter name="DataBus.Buffer.OutboxFolder" value="C:\ATDI\dev_3.3.0\Buffer\DataBus.SDRN\1589_Outbox" />
            <!-- Имя конфигурации соединения к серверу БД в случаи использования в качестве буфера БД -->
            <parameter name="DataBus.Buffer.ConnectionStringConfig" value="" />
            <!-- Тип содержимого сообщения в буфере:  фактически для файла єто его тип содержимого. 
                XML более четеабельный, но емкий
                BINARY - самый компактный, но не четабильный
            -->
            <parameter name="DataBus.Buffer.ContentType" value="Json"/>


            <!-- Конфишурация сервера -->

            <!-- Имя интсанса мастер сервера которому подчиненн сервер агрегации. Определяется из лицензии SDRB сервера в роли мастера -->
            <parameter name="SDRN.MasterServer.Instance" value="SDRNSV-SBD12-A00-5244"/>

          </parameters>
        </component>

        <component type="SdrnAggregationServerPrimaryHandlersAppUnit" assembly="Atdi.AppUnits.Sdrn.AggregationServer.PrimaryHandlers">
        </component>


        <!--<component type="SdrnServerWcfServices" assembly="Atdi.WcfServices.Sdrn.Server">
          <parameters>
            <parameter name="ISdrnsController" value="{binding=basicHttpBinding, address=http://localhost:8737/Atdi/WcfServices/Sdrn/Server/SdrnsController/};  {binding=netTcpBinding, address=net.tcp://localhost:8736/Atdi/WcfServices/Sdrn/Server/SdrnsController/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/Sdrn/Server/SdrnsController/}"/>


          </parameters>
        </component>

        <component type="SdrnServerWcfServicesIeStation" assembly="Atdi.WcfServices.Sdrn.Server.IeStation">
          <parameters>
            <parameter name="ISdrnsControllerIeStation" value="{binding=basicHttpBinding, address=http://localhost:8739/Atdi/WcfServices/Sdrn/Server/IeStation/SdrnsControllerIeStation/};  {binding=netTcpBinding, address=net.tcp://localhost:8740/Atdi/WcfServices/Sdrn/Server/IeStation/SdrnsControllerIeStation/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/Sdrn/Server/IeStation/SdrnsControllerIeStation/}"/>
            --><!--   время для группировки записей workTime по умолчанию 60 --><!--
            <parameter name="TimeBetweenWorkTimes_sec" value="60"/>
            --><!--  true означает что можно адаптировать коэфициент корреляции. Устанавливается когда первоначально коэфициент корреляции 0.99 и выше. --><!--
            <parameter name="CorrelationAdaptation" value="true"/>
            --><!--  Максимальное число эмитингов на частоту --><!--
            <parameter name="MaxNumberEmitingOnFreq" value="35"/>
            --><!--  Минимальное значение коэффициента корелляции --><!--
            <parameter name="MinCoeffCorrelation.double" value="0,85"/>
            --><!--  признак что делается все для Украины --><!--
            <parameter name="UkraineNationalMonitoring" value="true"/>
            --><!--  Ограничение по числу эмитинов --><!--
            <parameter name = "CountMaxEmission" value="1000"/>
          </parameters>
        </component>-->

        <!-- Точка регистрации компонентов Web API -->

        <!--<component type="SelfHostWebApiServices" instance="SdrnServerWebApiServer" assembly="Atdi.WebApiServices.SelfHost">
          <parameters>
            <parameter name="Url" value="http://localhost:15020/appserver/v1"/>
          </parameters>
        </component>

        <component type="SdrnServerWebApiServices" assembly="Atdi.WebApiServices.Sdrn.Server">
          <parameters>
            --><!-- Инстанс компоненты хоста Web API - в данном случаи равен "SdrnDeviceWebApiServer" из предыдущего подключения  --><!--
            <parameter name="Instance" value="SdrnServerWebApiServer"/>
          </parameters>
        </component>

        <component type="EntityOrmWebApiServices" assembly="Atdi.WebApiServices.EntityOrm">
          <parameters>
            --><!-- Инстанс компоненты хоста Web API - в данном случаи равен "SdrnDeviceWebApiServer" из предыдущего подключения  --><!--
            <parameter name="Instance" value="SdrnServerWebApiServer"/>
          </parameters>
        </component>-->

      </components>
    </appServer>

  </atdi.platform>

</configuration>
