<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <!-- Имя xml-файла конфигурации окружения методанных, можно указать вложенные каталоги относительно размещения dll-ки компонента -->
            <!-- Пример значения: Metadata/Environment.xml -->
            <parameter name="EnvironmentFileName" value=""/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>