<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerKTN6841AAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.KTN6841A">
          <parameters>
            <!-- Хост на которов находится Sensor Management Server (SMS).
                 Если ничего не указано то будит пытаться подключиться по localhost, тип string-->
            <parameter name="SmsHostName" value=""/>
            
            <!-- Имя сенсора, тип string -->
            <parameter name="SensorName" value=""/>
            
            <!-- Тип окна функции FFT используемы с командой MesureTraceCommand, тип uint
                 Доступны:
                 Hann,     = 1
                 Gausstop, = 2
                 Flattop,  = 4
                 Uniform   = 8
                 -->
            <parameter name="WindowType" value="4"/>

            
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>