<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>
        <!--Перед тем как у заказчика на настроенном оборудовании проводить какие либо действия в ПО Sensor Management Tool (даже если это другой ПК 
            т.к. при добавлении устройства на другой сервер SMS на предыдущем сервере оно удаляется с возможной потерей настроек) создайте бекап
            настроек - Sensor Management Server (SMS), путь в ПО Tools\Database\Back Up Database, позже с его помошь можно вернуть как было-->
        <!--Для корректного подлючения к прибору необходимо выполнить предварительную настройку Sensor Management Server (SMS) с помощью
            Sensor Management Tool, в нем необходимо добавить сенсора и установить имена сенсоров если их больше одного. 
            Также при использовании проброса портов по узлам сети необходимо в сторону сенсора прокинуть порты 8080, 54000-60000.
            Далее, на самом сенсоре отключить учет антенн и кабелей, заказчик должен быть об этом уведомлен при использовании бругого ПО.-->
        <component type="SdrnDeviceServerKTN6841AAdapterAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.KTN6841A">
          <parameters>
            <!-- Хост на которов находится Sensor Management Server (SMS).
                 Если ничего не указано то будит пытаться подключиться по localhost, тип string-->
            <parameter name="SmsHostName" value=""/>
            
            <!-- Имя сенсора. 
                 Если ничего не указано то будит пытаться подключиться по к первому доступному, тип string 
                 Если сенсоров больше чем один то необходимо прописать имя сенсора которое указано в Sensor Management Tool
                 в конфигурации сенсора "Sensor Hardware and Identification" параметр "Sensor Alias"/
                 Также серийный номер необходимо установить в конфигурации сенсора "Network Configuration" параметр "HostName" -->
            <parameter name="SensorName" value=""/>
            
            <!--Местонахождение сенсора в сети, тип bool соответственно true/false
                Если сенсор находится в локальной сети то установить true.
                Если сенсор находится не в локальной сети то установить false и в поле SensorName указать серийный номер сенсора, 
                а та также серийный номер сенсора у казать в параметрах "Sensor Alias" и "HostName" в настройках самого сенсора.-->
            <parameter name="SensorInLocalNetwork" value="true"/>

            <!-- Тип оконой функции FFT используемы с командой MesureTraceCommand, тип int
                 Доступны:
                 Hann      = 1
                 Gausstop  = 2
                 Flattop   = 4
                 Uniform   = 8
                 -->
            <parameter name="WindowType" value="4"/>

            
            <!--Использовать встроенный GNSS приемник, тип bool соответственно true/false
                Для того что бы координаты обновлялись необходимо в Sensor Management Tool
                в конфигурации сенсора "GPS Configuration and Status" параметр "Timing Mode" 
                установлен в "Mobile" -->
            <parameter name="UseGNSS" value="true"/>

            <!--Блокировать доступ для другого ПО, тип bool соответственно true/false-->
            <parameter name="LockSensorResource" value="false"/>

            <!--Выбираем антенный вход 1 или 2, тип int доступно 1 или 2-->
            <parameter name="SelectedAntenna" value="1"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>