<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
        name="SdrnServerNetTcpEndpoint"
        binding="netTcpBinding"
        address="net.tcp://localhost:8736/Atdi/WcfServices/Sdrn/Server/SdrnsController/"
        contract="Atdi.Contracts.WcfServices.Sdrn.Server.ISdrnsController">

      </endpoint>

      <endpoint
        name="SdrnServerBasicHttpEndpoint"
        binding="basicHttpBinding"
        address="http://localhost:8737/Atdi/WcfServices/Sdrn/Server/SdrnsController/"
        contract="Atdi.Contracts.WcfServices.Sdrn.Server.ISdrnsController">

      </endpoint>






    </client>
  </system.serviceModel>
  
</configuration>