<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="DB_SDRN_DeviceServer_ConnectionString" connectionString="Application Name=SDRN.DeviceServer;Server=DESKTOP-DD5LF5J\SQLEXPRESS;Database=DEVICESERVER;UID=sa; PWD = j3qq5012zX;"/>

  </connectionStrings>
  
  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\Projects\Repos\atdi.ua\Dev\"/>
      <property name="SearchAssembliesPattern" value="\bin\Debug$"/>
      <property name="SearchAssembliesPattern_" value="\bin\Release$"/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>



    <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Trace"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      


      <!--

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value="" />
          <parameter name="Contexts_" value="SQL Server Engine" />
          <parameter name="Categories_" value="Executing command" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="FolderPath" value="C:\Temp\Logs" />
          <parameter name="FilePrefix" value="sql_" />
          <parameter name="Levels" value="" />
          <parameter name="Contexts" value="SQL Server Engine" />
          <parameter name="Categories" value="Executing command" />
        </parameters>
      </install>
-->
      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnDeviceAppServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>
        

        <!-- Entity ORM -->
        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <parameter name="EnvironmentFileName" value="Metadata/Environment.xml"/>
          </parameters>
        </component>

        <!-- Data Layer with Data Context -->
        
        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_DeviceServer_DB, dataEngine=SqlServer, connectionStringConfig=DB_SDRN_DeviceServer_ConnectionString}"/>

          </parameters>
        </component>
        
        

        <!-- Device Server Core: Controller -->
        
        <component type="SdrnDeviceServerAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer">
          <parameters>
            <parameter name="License.FileName" value="LIC-DBD12-A00-187.SENSOR-DBD12-A00-1280.lic" />
            <parameter name="License.OwnerId" value="EAAAAGx8S55ZQpAiyIdWRRhYJVvpeZlErne1qujf3hgqK8F3t5+txQdxaxQEkfvKGbHUxA==" />
            <parameter name="License.ProductKey" value="EAAAAM18Ot6mp2YmQkLMoNQbpGSU6VndtHM9RU0lMIvQtxXqZTam5RzF9vMZWMGSt3Br1g==" />

            <parameter name="RabbitMQ.Host" value="192.168.33.110"/>
            <parameter name="RabbitMQ.Port" value=""/>
            <parameter name="RabbitMQ.VirtualHost" value="/"/>
            <parameter name="RabbitMQ.User" value="andrey"/>
            <parameter name="RabbitMQ.Password" value="EAAAACQE7YheyNO702XPzuu7gzYnHnwz6PM2VvtA1r6rc+AO"/>

            <parameter name="SDRN.ApiVersion" value="2.0"/>
            <parameter name="SDRN.Server.Instance" value="SDRNSV-SBD12-A00-8591"/>
            <parameter name="SDRN.Server.QueueNamePart" value="Q.SDRN.Server"/>
            <parameter name="SDRN.Device.SensorTechId" value="bc1d8321-2535-4da3-8d91-d01c078f5467"/>
            <parameter name="SDRN.Device.Exchange" value="EX.SDRN.Device"/>
            <parameter name="SDRN.Device.QueueNamePart" value="Q.SDRN.Device"/>
            <parameter name="SDRN.Device.MessagesBindings" value="{messageType=RegisterSensor, routingKey=#01};{messageType=SendCommandResult, routingKey=#02};{messageType=SendMeasResults, routingKey=#03};{messageType=SendEntity, routingKey=#04};{messageType=SendEntityPart, routingKey=#05};{messageType=UpdateSensor, routingKey=#06}"/>
            <parameter name="SDRN.MessageConvertor.UseEncryption" value="false"/>
            <parameter name="SDRN.MessageConvertor.UseCompression" value="false"/>
          </parameters>
        </component>


        <component type="RepositoryDeviceServices" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Repositories">

        </component>
        
        <!-- Device Server Core: Processing -->








        <component type="SdrnDeviceServerProcessingAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Processing">
          <parameters>
            <!-- Время в миллисекундах задержки потока обработки отложенных задач -->
            <parameter name="DurationWaitingEventWithTask" value="6000"/>

            <!-- Время в минутах, которое определяет какие задачи должны запускаться
                 Если время до запуска задачи меньше времени MaxDurationBeforeStartTimeTask, то задача сразу запускается,
             Если время до запуска больше MaxDurationBeforeStartTimeTask, то задача попадает в очередь отложенных задач  -->
            <parameter name="MaxDurationBeforeStartTimeTask" value="5"/>

            <!-- Время в миллисекундах  задержки перед отправкой результата в шину   -->
            <parameter name="DurationForSendResult" value="60000"/>

            <!-- Время в миллисекундах  ожидания сообщения типа SensorRegistrationResult в воркере RegisterSensorTaskWorker  -->
            <parameter name="MaxTimeOutReceiveSensorRegistrationResult" value="5000"/>

            <!-- Время в миллисекундах  ожидания сообщения типа GpsResult в воркере GPSWorker  -->
            <parameter name="DurationWaitingRceivingGPSCoord" value="5000"/>

            <!-- Время в миллисекундах  ожидания сообщения типа SpectrumOcupationResult в воркере SOTaskWorker -->
            <parameter name="maximumTimeForWaitingResultSO" value="5000"/>

            <!-- Специальный коэффициент для расчета времени приостановки потока, выполняющего измерение SO
             ДЛя огибок типа CommandFailureReason.NotFoundConvertor, CommandFailureReason.NotFoundDevice
             -->
            <parameter name="SOKoeffWaitingDevice" value="5000"/>

            <!--Погрешность для долготы-->
            <parameter name="LonDelta.float" value="0.00001"/>

            <!--Погрешность для широты-->
            <parameter name="LatDelta.float" value="0.00001"/>

            <!--Периодичность в миллисекундах  отправки сообщений о координатах сенсора в SDRNS-->
            <parameter name="PeriodSendCoordinatesToSDRNS" value="60000"/>

            <!--Период в миллисекундах проверки наличия в БД новых тасков-->
            <parameter name="DurationWaitingCheckNewTasks" value="2000"/>

            <!--  засыпание потока на время SleepTimePeriodForWaitingStartingMeas_ms в миллисекундах для MEASTASK.STATUS='F'-->
            <parameter name="SleepTimePeriodForWaitingStartingMeas" value="1000"/>

            <!-- период в миллисекундах временной приостановки потока выполнения задачи отправки уведомления об активности сенсора -->
            <parameter name="SleepTimePeriodSendActivitySensor_ms" value="60000"/>
            

          </parameters>
        </component>
      
       

        
        <!-- Device Server Aplication: Messages handlers -->
        
        <component type="SdrnDeviceServerMessagingAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Messaging">
          <parameters>
          </parameters>
        </component>


        <!-- Device Server Aplication: Adapters -->


        
        <component type="SdrnDeviceServerExampleAdapterAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.ExampleAdapter">
          <parameters>
            <parameter name="Property.string" value="The some string value"/>
            <parameter name="Property.SharedSecret" value="EAAAACQE7YheyNO702XPzuu7gzYnHnwz6PM2VvtA1r6rc+AO"/>
            <parameter name="PropertyAsInt" value="12345"/>
            <parameter name="Property.float" value="0,0001"/>
            <parameter name="PropertyAsDouble" value="23,48754632"/>
            <parameter name="Property.decimal" value="123123,4444"/>
          </parameters>
        </component>
        <component type="SdrnDeviceServerSignalHoundAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SignalHound">
          <parameters>
          </parameters>
        </component>



        <component type="SdrnDeviceServerProcessingMeasurementsAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Processing.Measurements">
          <parameters>
            <parameter name="Prop1" value="1"/>
            <parameter name="Prop2" value="2"/>
            <parameter name="Prop3" value="3"/>
            <parameter name="Prop4" value="4"/>
            <parameter name="Prop5" value="5"/>
          </parameters>
        </component>



        <component type="SdrnDeviceServerGPSAdapterAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.GPS">
          <parameters>
            <parameter name="PortBaudRate" value="baudRate9600"/>
            <parameter name="PortDataBits" value="dataBits8"/>
            <parameter name="PortHandshake" value="None"/>
            <parameter name="PortName" value="COM2"/>
            <parameter name="PortStopBits" value="One"/>
            <parameter name="PortParity" value="None"/>
          </parameters>
        </component>



        <component type="SdrnDeviceServerSpectrumAnalyzerAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SpectrumAnalyzer">
          <parameters>
            <parameter name="IPAddress" value="192.168.2.110"/>
            <parameter name="DisplayUpdate" value="false"/>
          </parameters>
        </component>

        <!-- Device Server Aplication: Processing (Workers and Result handlers) -->
        
        <component type="SdrnDeviceServerProcessingExampleAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Processing.Example">
          <parameters>
            <parameter name="SomeProperty" value="Value"/>
          </parameters>
        </component>


      </components>
    </appServer>

  </atdi.platform>
</configuration>