<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding
          maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferPoolSize="2147483647"
          openTimeout="10:10:00"
         	closeTimeout="10:10:00"
          sendTimeout="10:10:00"
          receiveTimeout="10:10:00"
	      >
        </binding>
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <!--<endpoint
	        name="WorldMapApi"
		      address="http://localhost:8745/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/"
          binding="basicHttpBinding"
          contract="Atdi.Contracts.WcfServices.Sdrn.DeepServices.IDWM.IWorldMapApi">
      </endpoint>-->
      <endpoint
	        name="WorldMapApi"
		      address="net.pipe://localhost/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/"
          binding="netNamedPipeBinding"
          contract="Atdi.Contracts.WcfServices.Sdrn.DeepServices.IDWM.IWorldMapApi">
      </endpoint>
    </client>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="DB_SDRN_Server_ConnectionString" connectionString="Application Name=SDRN.Server;Server=192.168.33.110;Database=DB_SDRN_Server;UID=sa; PWD = P@ssw0rd;"/>
    <add name="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.1.35)(PORT = 1522))(CONNECT_DATA = (SERVICE_NAME = ORCL2))); User Id = ICSM; Password = ICSM; enlist=false;" />
  </connectionStrings>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\projects\repos_3_5_5_dev\Dev\Test\Atdi.Test.Platform.SG\bin\Debug\"/>
      <property name="SearchAssembliesPattern" value=""/>
      <property name="SearchAssembliesPattern_" value=""/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Trace"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="FolderPath" value="" />
          <parameter name="FilePrefix" value="" />
          <parameter name="Levels" value=""/>
          <parameter name="Contexts" value=""/>
          <parameter name="Categories" value=""/>
        </parameters>
      </install>


      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>


        <component type="SdrnDeepServicesGisAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.Gis">
          <parameters>
          </parameters>
        </component>

        <component type="SdrnDeepServicesIDWMAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.IDWM">
          <parameters>
          </parameters>
        </component>

        <component type="SdrnDeepServicesGN06AppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.GN06">
          <parameters>
          </parameters>
        </component>

        <component type="SdrnDeepServicesEarthGeometryAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.EarthGeometry">
          <parameters>
          </parameters>
        </component>
        

        <!--<component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <parameter name="EnvironmentFileName" value="C:\Projects\Repos\atdi.ua\Dev\DataModels\Atdi.DataModels.Sdrns.Server.Entities\Metadata\Environment.xml"/>
          </parameters>
        </component>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_Server_DB, dataEngine=SqlServer, connectionStringConfig=DB_SDRN_Server_ConnectionString};{name=Platform, dataEngine=Assemblies}"/>
          </parameters>
        </component>

        <component type="AssembliesDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Assemblies">
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>

        <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer">
        </component>-->

      </components>
    </appServer>

  </atdi.platform>

</configuration>
