<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerGPSAdapterAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.GPS">
          <parameters>
            <parameter name="PortBaudRate" value="baudRate9600"/>
            <parameter name="PortDataBits" value="dataBits8"/>
            <parameter name="PortHandshake" value="None"/>
            <parameter name="PortName" value="COM2"/>
            <parameter name="PortStopBits" value="One"/>
            <parameter name="PortParity" value="None"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>