<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerGPSAdapterAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.GPS">
          <parameters>
            
            <!-- Описание параметров подключения работы с GPS устройством-->
            
            
            <!-- Наименование параметра:  PortBaudRate -->
            <!-- Назначение параметра PortBaudRate: задание скорости передачи данных в бодах -->
            <!-- Перечень допустимых значений параметра PortBaudRate: 
                
                baudRate75,
                baudRate110,
                baudRate134,
                baudRate150,
                baudRate300,
                baudRate600,
                baudRate1200,
                baudRate1800,
                baudRate2400,
                baudRate4800,
                baudRate7200,
                baudRate9600,
                baudRate14400,
                baudRate19200,
                baudRate38400,
                baudRate57600,
                baudRate115200,
                baudRate128000
                -->
            <parameter name="PortBaudRate" value=""/>

            
            
            <!-- Наименование параметра:  PortDataBits -->
            <!-- Назначение параметра PortDataBits: задание битов данных порта -->
            <!-- Перечень допустимых значений параметра PortDataBits: 
            dataBits4,
            dataBits5,
            dataBits6,
            dataBits7,
            dataBits8,
            dataBits9
            -->
            <parameter name="PortDataBits" value=""/>


            <!-- Наименование параметра:  PortHandshake -->
            <!-- Назначение параметра PortHandshake: Определяет протокол управления, используемый при установлении связи через последовательный порт -->
            <!-- Перечень допустимых значений параметра PortHandshake: 
             //управление не используется 
             None,
             
             // Используется протокол программного управления XON / XOFF. 
             XOnXOff,
             
             // Используется аппаратное управление потоком запроса на отправку (RTS)
             RequestToSend,
             
             //Задает смешанный режим работы.
             RequestToSendXOnXOff
             -->
            <parameter name="PortHandshake" value=""/>

            <!-- Наименование параметра:  PortName -->
            <!-- Назначение параметра PortName: задание наименования COM - порта -->
            <!-- Перечень допустимых значений параметра PortName (примеры): 
            COM1,
            COM2,
            COM3
            COM4
            .
            .
            .
            -->
            <parameter name="PortName" value=""/>



            <!-- Наименование параметра:  PortStopBits -->
            <!-- Назначение параметра PortStopBits: Указывает на количество стоп-битов, используемых в объекте System.IO.Ports.SerialPort. -->
            <!-- Перечень допустимых значений параметра PortStopBits: 
                 // Стоп-биты не используются.
                  None
                  
                 // Используется один стоповый бит 
                  One
        
                // Используется два стоповых бита 
                  Two
        
                // Используется 1.5 стоповых бита 
                  OnePointFive
             -->
            <parameter name="PortStopBits" value=""/>



            <!-- Наименование параметра:  PortParity -->
            <!-- Назначение параметра PortParity: задание четности -->
            <!-- Перечень допустимых значений параметра PortParity: 
              // Прверка на четность не выполняется
              None 

              // Устанавливает бит четности так, чтобы количество установленных битов было нечетным числом
              Odd

              // Устанавливает бит четности так, чтобы количество установленных битов было четным числом.
              Even

              // Оставляет бит четности равным 1.
              Mark

              // Оставляет бит четности равным 0.
              Space
            -->
            <parameter name="PortParity" value=""/>
            
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>