<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="TcpAuthenticationManager" binding="netTcpBinding" address="net.tcp://localhost:8734/Atdi/WcfServices/AuthenticationManager/" contract="Atdi.Contracts.WcfServices.Identity.IAuthenticationManager">

      </endpoint>
      <endpoint name="HttpAuthenticationManager" binding="basicHttpBinding" address="http://localhost:8735/Atdi/WcfServices/AuthenticationManager/" contract="Atdi.Contracts.WcfServices.Identity.IAuthenticationManager">

      </endpoint>

      <endpoint name="PipeAuthenticationManager" binding="netNamedPipeBinding" address="net.pipe://localhost/Atdi/WcfServices/AuthenticationManager/" contract="Atdi.Contracts.WcfServices.Identity.IAuthenticationManager">

      </endpoint>



      <endpoint name="TcpWebQuery" binding="netTcpBinding" address="net.tcp://localhost:8737/Atdi/WcfServices/WebQuery/" contract="Atdi.Contracts.WcfServices.WebQuery.IWebQuery">

      </endpoint>
      <endpoint name="HttpWebQuery" binding="basicHttpBinding" address="http://localhost:8736/Atdi/WcfServices/WebQuery/" contract="Atdi.Contracts.WcfServices.WebQuery.IWebQuery">

      </endpoint>

      <endpoint name="PipeWebQuery" binding="netNamedPipeBinding" address="net.pipe://localhost/Atdi/WcfServices/WebQuery/" contract="Atdi.Contracts.WcfServices.WebQuery.IWebQuery">

      </endpoint>


    </client>
  </system.serviceModel>


  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="c:\projects\reposApi2_#552_SDRN_develop_webquery\Dev\Hosts\Atdi.AppServer.CoverageCalculation.Console\bin\Debug\"/>
      <property name="SearchAssembliesPattern" value=""/>
      <property name="SearchAssembliesPattern_" value=""/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Trace"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="FolderPath" value="C:\Temp\Logs"/>
          <parameter name="FilePrefix" value="sql_"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts" value="SQL Server Engine"/>
          <parameter name="Categories" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

  </atdi.platform>

</configuration>
