<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnAppServer">

      <components>

        <component type="SdrnAggregationServerPrimaryHandlersAppUnit" assembly="Atdi.AppUnits.Sdrn.AggregationServer.PrimaryHandlers">
          <parameters>
            
            <!-- Таймаут в милисикундах, время через которое будет срабатывать обработчик, что бы попытаться отправить результат сигнализации (по умолчанию 1 час т.е. 3600000) -->
            <parameter name="MeasResultSignalizationWorker.Timeout" value="3600000"/>
            
            <!-- Количество дней после которых считаем что новые результаты по сигналицайии за последний день уже прийдут (по умолчанию 1) -->
            <parameter name="MeasResultSignalizationWorker.QtyDayAwaitNextResult" value="1"/>
            
          </parameters>
        </component>
      </components>
    </appServer>

  </atdi.platform>
</configuration>