<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding openTimeout="01:00:00" closeTimeout="01:00:00"  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\Projects\Repos\atdi.ua\Dev\"/>
      <property name="SearchAssembliesPattern" value="\bin\Debug$"/>
      <property name="SearchAssembliesPattern_" value="\bin\Release$"/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Trace"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnDeviceServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>

        <component type="SdrnDeepServicesIdwmWcfServices" assembly="Atdi.WcfServices.Sdrn.DeepServices.IDWM">
          <parameters>
            <parameter name="IWorldMapApi" value="{binding=basicHttpBinding, address=http://localhost:8745/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/};  {binding=netTcpBinding, address=net.tcp://localhost:8744/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/}"/>
          </parameters>
        </component>

        

      </components>
    </appServer>

  </atdi.platform>
</configuration>
