<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="FileStorageAppServices" assembly="Atdi.AppServices.FileStorage">
          <parameters>
            <!-- Рабочий каталог хранилища, значение переопределяет то что в БД ICSM, иожно не указывать, тогда рабочий каталог береться из настроек ICSM-->
            <parameter name="Storage.WorkFolder" value="" />
            
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>