<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding openTimeout="01:00:00" closeTimeout="01:00:00"  receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding openTimeout="01:00:00" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <atdi.platform>

    <appServer instance="SdrnAppServer">

      <components>

        <component type="SdrnDeepServicesIdwmWcfServices" assembly="Atdi.WcfServices.Sdrn.DeepServices.IDWM">
          <parameters>
            <parameter name="IWorldMapApi" value="{binding=basicHttpBinding, address=http://localhost:8735/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/};  {binding=netTcpBinding, address=net.tcp://localhost:8734/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/}"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>