<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>
        
        <component type="SdrnDeviceServerSignalHoundAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SignalHound">
          <parameters>
            <!-- Серийный номер прибора, по нему производится подключение к прибору с этим номером.
                 Узнать его можно по наклейке на приборе, в Spyke или в свойствах драйвер в диспетчере устройств-->
            <parameter name="SerialNumber" value=""/>
            
            <!-- Включает/Выключает выбор источника опорной частоты,  тип bool соответственно true/false, 
                 true = 10 МГц подается на прибор из вне и она используется как опорная частота
                 false = используется внутренний источник опорной частоты -->
            <parameter name="Reference10MHzConnected" value=""/>

            <!-- Включает/Выключает использование сигналов PPS,  тип bool соответственно true/false, 
                 true = Используется
                 false = Неиспользуется -->
            <parameter name="GPSPPSConnected" value=""/>

            <!-- Включает/Выключает использование данных GNSS для определения точного времени самим прибором,  тип bool соответственно true/false, 
                 true = Используется также необходимо корректно настроить GPSPortNumber и GPSPortBaudRate
                 false = Неиспользуется желательно установить GPSPortNumber и GPSPortBaudRate -->
            <!-- <parameter name="SyncCPUtoGPS" value=""/> -->

            <!-- Номер порта с данных GNSS для определения точного времени самим прибором,  тип int, 
                 Необходимо установить именно номер порта например если юто COM29 то установить 29-->
            <!-- <parameter name="GPSPortNumber" value=""/> -->

            <!-- Скорость передачи данных порта в бодах с данных GNSS для определения точного времени самим прибором,  тип int, 
                 -->
            <!-- <parameter name="GPSPortBaudRate" value=""/> -->
          </parameters>          
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>