<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\ATDI\Sources\Dev\" />
      <property name="SearchAssembliesPattern" value="\bin\Debug$" />
      <property name="SearchAssembliesPattern_" value="\bin\Release$" />
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us" />
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000" />
          <parameter name="Levels_" value="Error,Exception,Critical" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value="" />
          <parameter name="Contexts_" value="SQL Server Engine" />
          <parameter name="Categories_" value="Executing command" />
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="Icsm.Plugins">

      <properties>
        <property name="ThreadPoolSize" value="500" />
      </properties>

      <components>

        <component type="SdrnCalcServerClient" assembly="XICSM_SdrnCalcServerClient">
          <parameters>
            <parameter name="CalcServer.EntityOrm.Endpoint.BaseAddress" value="http://localhost:15070/" />
            <parameter name="CalcServer.EntityOrm.Endpoint.ApiUri" value="/appserver/v1" />
            <parameter name="CalcServer.EntityOrm.DataContext" value="SDRN_CalcServer_DB" />

            <parameter name="Infocenter.EntityOrm.Endpoint.BaseAddress" value="http://localhost:15075/" />
            <parameter name="Infocenter.EntityOrm.Endpoint.ApiUri" value="/appserver/v1" />
            <parameter name="Infocenter.EntityOrm.DataContext" value="SDRN_Infocenter_DB" />
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>