<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerRSFPLAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.RSFPL">
          <parameters>
            <!-- Серийный номер прибора. -->
            <parameter name="SerialNumber" value="123456"/>
            
            <!-- IP адрес прибора например 192.168.2.110-->
            <parameter name="IPAddress" value="127.0.0.1"/>
            
            <!-- Включает/Выключает отображение данных на экране прибора тип bool соответственно true/false-->
            <parameter name="DisplayUpdate" value="false"/>

            <!-- Включает/Выключает выбора времени свипировани(измерения) из параметров  тип bool соответственно true/false, 
                 true = прибор всегда настраивает время свипирования автоматически
                 false = прибор SweepTime будит установленно из параметров, если в параметрах Auto то будит установленно автоматическая настройка-->
            <parameter name="OnlyAutoSweepTime" value="true"/>
      
            <!-- Настройка оптимизации работы FFT, тип int, доступно 0,1,2
                 0 = Auto Настраивается прибором автоматически
                 1 = Dynamic Настраивается на лучший динамический диапазон/лучший шум
                 2 = Speed Настраивается на лучшую скорость(где-то в 2 и более раза быстрее) но может быть выше шум(не всегда и зависит от настроек)-->
            <parameter name="Optimization" value="2"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>