<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
      <basicHttpBinding>
        <binding receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
        name="AuthenticationManagerNetTcpEndpoint"
        binding="netTcpBinding"
        address="net.tcp://localhost:8734/Atdi/WcfServices/AuthenticationManager/"
        contract="Atdi.Contracts.WcfServices.Identity.IAuthenticationManager">

      </endpoint>
      <endpoint
        name="AuthenticationManagerBasicHttpEndpoint"
        binding="basicHttpBinding"
        address="http://localhost:8735/Atdi/WcfServices/AuthenticationManager/"
        contract="Atdi.Contracts.WcfServices.Identity.IAuthenticationManager">

      </endpoint>

      <endpoint
        name="AuthenticationManagerNetNamedPipeEndpoint"
        binding="netNamedPipeBinding"
        address="net.pipe://localhost/Atdi/WcfServices/AuthenticationManager/"
        contract="Atdi.Contracts.WcfServices.Identity.IAuthenticationManager">

      </endpoint>



      <endpoint
        name="WebQueryNetTcpEndpoint"
        binding="netTcpBinding"
        address="net.tcp://localhost:8737/Atdi/WcfServices/WebQuery/"
        contract="Atdi.Contracts.WcfServices.WebQuery.IWebQuery">

      </endpoint>
      <endpoint
        name="WebQueryBasicHttpEndpoint"
        binding="basicHttpBinding"
        address="http://localhost:8736/Atdi/WcfServices/WebQuery/"
        contract="Atdi.Contracts.WcfServices.WebQuery.IWebQuery">

      </endpoint>

      <endpoint
        name="WebQueryNetNamedPipeEndpoint"
        binding="netNamedPipeBinding"
        address="net.pipe://localhost/Atdi/WcfServices/WebQuery/"
        contract="Atdi.Contracts.WcfServices.WebQuery.IWebQuery">

      </endpoint>

    </client>
  </system.serviceModel>
</configuration>