<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Atdi.Icsm.Plugins.SdrnCalcServerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <userSettings>
      <Atdi.Icsm.Plugins.SdrnCalcServerClient.Properties.Settings>
          <setting name="baseSetting" serializeAs="String">
              <value />
          </setting>
      </Atdi.Icsm.Plugins.SdrnCalcServerClient.Properties.Settings>
  </userSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="C:\ATDI\Sources\Dev\" />
      <property name="SearchAssembliesPattern" value="\bin\Debug$" />
      <property name="SearchAssembliesPattern_" value="\bin\Release$" />
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us" />
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000" />
          <parameter name="Levels_" value="Error,Exception,Critical" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value="" />
          <parameter name="Contexts_" value="SQL Server Engine" />
          <parameter name="Categories_" value="Executing command" />
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="Icsm.Plugins">

      <properties>
        <property name="ThreadPoolSize" value="500" />
      </properties>

      <components>

        <component type="SdrnCalcServerClient" assembly="XICSM_SdrnCalcServerClient">
          <parameters>

            <parameter name="License.FileName" value="C:\Projects\Licensing\Test\ICSMPlugins\SdrnCalcServerClient\LIC-PBD12-A00-491.ICSMP-CBD12-A00-7753.lic" />
            <parameter name="License.OwnerId" value="EAAAAIa/MgVIrNJ9Tlmw8io4iv/7fSH6XRsP223htxOj2JIvtlAFvl4qUKvgTvV3N07u2g==" />
            <parameter name="License.ProductKey" value="EAAAAK/yKJRERoq5abLdUmERLNMcdb7TBHWA0BFRW3Go94ZK4ui9lbq6KO+60iL9zX9YVQ==" />

            <parameter name="CalcServer.EntityOrm.Endpoint.BaseAddress" value="http://localhost:15070/" />
            <parameter name="CalcServer.EntityOrm.Endpoint.ApiUri" value="/appserver/v1" />
            <parameter name="CalcServer.EntityOrm.DataContext" value="SDRN_CalcServer_DB" />

            <parameter name="Infocenter.EntityOrm.Endpoint.BaseAddress" value="http://localhost:15075/" />
            <parameter name="Infocenter.EntityOrm.Endpoint.ApiUri" value="/appserver/v1" />
            <parameter name="Infocenter.EntityOrm.DataContext" value="SDRN_Infocenter_DB" />
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>