<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="IcsmCoverageEstimationAppUnit" assembly="Atdi.AppUnits.Icsm.CoverageEstimation">
          <parameters>
            <!-- Рабочий каталог Телеком (пример)-->
            <parameter name="Telecom.CoverageConfigFileName" value="c:\projects\reposApi2_#552_SDRN_develop_webquery\Dev\Hosts\Atdi.AppServer.WebQuery.Console\bin\Debug\CalcCovConfig.xml" />
            <parameter name="Telecom.ProtocolOperationFileNameForMobStation" value="c:\projects\reposApi2_#552_SDRN_develop_webquery\Dev\Hosts\Atdi.AppServer.WebQuery.Console\bin\Debug\ProtocolOperationMobStation.pro" />
            <parameter name="Telecom.ProtocolOperationFileNameForMobStation2" value="c:\projects\reposApi2_#552_SDRN_develop_webquery\Dev\Hosts\Atdi.AppServer.WebQuery.Console\bin\Debug\ProtocolOperationMobStation2.pro" />
            <parameter name="Telecom.IsRepeatable" value="false" />
            <parameter name="Telecom.IsSaveFinalCoverageToDB" value="false" />
            <parameter name="Telecom.HookBitBltWinAPIFunctionInjectDll" value="C:\Test\TEST_PROJECT\HookDll\Debug\HookDll.dll" />
            <parameter name="Job.EnableMobStationCalculation" value="true" />
            <parameter name="Job.EnableMobStation2Calculation" value="false" />
            <parameter name="Thresholds.ThresholdsMaxCountThreadFilesForFinalCoverage" value="1" />
            <parameter name="Thresholds.ThresholdsMaxCountThreadFilesForConcatBlank" value="1" />
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>