<?xml version="1.0" encoding="utf-8" ?>

<!-- 
     Данный файл не является конечной конфигурацией, а представляет собой структуру и шаблон кинфигурирорвания, 
     основой для описания нужного сценария загрузки и конфигурации.
     Его нужно использовать как подложку будущей конфигурации, 
     следуюя рекомендациям и заложеным структурным правилам конфигурирования описаных ниже
-->

<configuration>
  <!-- Секция определния методаных конфигурации платформы и сервреа приложений-->
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <!-- версия CLR -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- Есть хранилище задач, необходимо определить строку соединения к нему -->
  <!-- Имя конфигурации может быть любым, главнео его крреткно указать в контексте -->
  <connectionStrings>
    <add name="DB_SDRN_DeviceServer_ConnectionString" connectionString="Application Name=SDRN.DeviceServer;Server=DESKTOP-DD5LF5J\SQLEXPRESS;Database=DEVICE_TEST_GR;UID=sa; PWD = j3qq5012zX"/>
  </connectionStrings>

  <atdi.platform>

    
    <properties>
      <!-- Каталог размещения всех достпуных компоеннтов сервреа прилоежния -->
     <property name="SearchAssembliesStartPath" value="c:\projects\reposApi2_#552_24_02_2019\Dev\Hosts\Atdi.AppServer.Sdrn.DeviceServer.Console.SG\"/>
      <property name="SearchAssembliesPattern" value="\bin\Debug$"/>
      <property name="SearchAssembliesPattern_" value="\bin\Release$"/>
    </properties>


    <!-- Низкоуровневая конфигурация DI-контейнера как основы платформы -->
    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <!-- Сервис локализции, используется логером -->
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <!-- Секция инициализации ядра платформы нужными сервисами -->
    <installers>

      <!-- Сервис реализующий функционал асинхроного логгера -->
      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <!-- Размер внутренего буфера накапливающего евенты -->
          <parameter name="EventsCapacity" value="20000"/>
          <!-- Уровень протоколирования, позволяет еще на фазе вызова фильтровать поступаемый в логерр события -->
          <parameter name="Levels" value=""/>
        </parameters>
      </install>

      <!-- Сервис потребителя событий логгера: консоль-->
      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <!-- Кол-во евентов который потребитель в состоянии принять за один раз, остальные (более поздние) будут проигнорированы -->
          <parameter name="EventsCapacity" value="5000"/>
          <!-- Уровень события с которого необходимо принимать события, работате как фильтр -->
          <parameter name="Levels" value=""/>
          <!-- Фильтрация по контексту -->
          <parameter name="Contexts" value=""/>
          <!-- Фильтрация по категории -->
          <parameter name="Categories" value=""/>
        </parameters>
      </install>


      <!-- Сервис потребителя событий логгера: ввыод событий в файл, можно подключать несколько раз с разной конфигурацией -->
      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <!-- Уровень события с которого необходимо принимать события, работате как фильтр -->
          <parameter name="Levels" value=""/>
          <!-- Фильтрация по контексту -->
          <parameter name="Contexts" value=""/>
          <!-- Фильтрация по категории -->
          <parameter name="Categories" value=""/>
        </parameters>
      </install>

      <!-- Сервис базового функционала сервера приложений -->
      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <!-- Секция конфигурирования сервера приложений 
        Атрибут instance это имя интсанса сервера приложений, желательно делать уникальным, 
        Важно: в будущем будет использоваться как элемент адресации точки ифнраструктуры 
    -->
    <appServer instance="SdrnDeviceAppServer">

      <!-- общие свойства сервера приложения-->
      <properties>

      </properties>

      <!-- Секцяя регистрации прикладных компонентов сервера приложения -->
      <components>


        <!-- Точка регистрации базовых компонентов сервера устройств -->

        <!-- Базовая компонента 1:  Entity ORM - работа с сущностями хранилища сервера устройств, пока стартует самая первая. 
             Описание параметров смотреть в файле конфигурации "Atdi.CoreServices.EntityOrm.dll.config" -->
        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <parameter name="EnvironmentFileName" value="Metadata/Environment.xml"/>
          </parameters>
        </component>

        <!-- Базовая компонента 2:  Data Layer with Data Context - компонента доступа к хранилищу. 
             Описание параметров смотреть в файле конфигурации "Atdi.CoreServices.DataLayer.dll.config" -->
        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_DeviceServer_DB, dataEngine=SqlServer, connectionStringConfig=DB_SDRN_DeviceServer_ConnectionString}"/>
          </parameters>
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>

        <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer">
        </component>


        <!-- Базовая с 3:  Device Server Core: Controller & Processing - компонента седержит базовый функционал сервера устройств (реализация контроллера, процессинга задач, коннектор к шине SDRN). 
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.dll.config" -->
        <component type="SdrnDeviceServerAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer">
          <parameters>
            <parameter name="License.FileName" value="LIC-DBD12-A00-333.lic" />
            <parameter name="License.OwnerId" value="EAAAAI33rsgDOnbZRG85QHLvyXxQA2jdLYXqRXwnNojRJcMkBVAvEMF97MbXZ8Xa590Zdg==" />
            <parameter name="License.ProductKey" value="EAAAAKbi3CIYlWEqLCAjlp2xsDY8MqpuoK5wOMfxWKbJcz+A3MfQvhJ99coIMwRp4b8KNA==" />
            <parameter name="RabbitMQ.Host" value="109.237.91.29"/>
            <parameter name="RabbitMQ.Port" value="5674"/>
            <parameter name="RabbitMQ.VirtualHost" value="Test.SDRN.Control"/>
            <parameter name="RabbitMQ.User" value="SDR_Client"/>
            <parameter name="RabbitMQ.Password" value="EAAAAMwqCHGus3dL3D/2HXrdSw4k6Ezy1XGPj5PfDpDt0sIw"/>
            <parameter name="SDRN.ApiVersion" value="2.0"/>
            <parameter name="SDRN.Server.Instance" value="SDRNSV-SBD13-G65-3690"/>
            <parameter name="SDRN.Server.QueueNamePart" value="Q.SDRN.Server"/>
            <parameter name="SDRN.Device.SensorTechId" value="bm3d8321-2535-4da3-8d91-d01c078f5467"/>
            <parameter name="SDRN.Device.Exchange" value="EX.SDRN.Device"/>
            <parameter name="SDRN.Device.QueueNamePart" value="Q.SDRN.Device"/>
            <parameter name="SDRN.Device.MessagesBindings" value="{messageType=RegisterSensor, routingKey=#01};{messageType=SendCommandResult, routingKey=#02};{messageType=SendMeasResults, routingKey=#03};{messageType=SendEntity, routingKey=#04};{messageType=SendEntityPart, routingKey=#05};{messageType=UpdateSensor, routingKey=#06}"/>
            <parameter name="SDRN.MessageConvertor.UseEncryption" value="false"/>
            <parameter name="SDRN.MessageConvertor.UseCompression" value="false"/>
          </parameters>
        </component>

        <!-- Точка регистрации компонентов CRUD-хранилищ (Repository)-->

        <!-- Компонента CRUD-хранилищ 1: Repository - компонента хранилищ задач, комманд и прочих сообщений поступаемых с шины и в шину. 
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.Repositories.dll.config" -->
        <component type="RepositoryDeviceServices" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Repositories">
          <parameters>
          </parameters>
        </component>

        <!-- Точка регистрации компонентов обработчиков сообщений поступаемых с шины SDRN -->

        <!-- Компонента обработчиков сообщений 1: Messages handlers - компонента содержит базовый набор обработчиков сообщений шины SDRN. 
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.Messaging.dll.config" -->
        <component type="SdrnDeviceServerMessagingAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Messaging">
          <parameters>
            <parameter name="CompareTraceJustWithRefLevels" value="false"/>
            <parameter name="AutoDivisionEmitting" value="true"/>
            <parameter name="FiltrationTrace" value="true"/>
            <parameter name="DifferenceMaxMax.double" value="20"/>
            <parameter name="allowableExcess_dB.double" value="10"/>
            <parameter name="SignalizationNCount" value="1000000"/>
            <parameter name="SignalizationNChenal" value="50"/>
            <parameter name="PercentForCalcNoise.double" value="10"/>
          </parameters>
        </component>


        <!-- Точка регистрации компонентов адаптеров -->

        <!-- Компонента адаптера: GPS 
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.Adapters.GPS.dll.config" -->
        <component type="SdrnDeviceServerGPSAdapterAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.GPS">
          <parameters>
            <parameter name="PortBaudRate" value="baudRate9600"/>
            <parameter name="PortDataBits" value="dataBits8"/>
            <parameter name="PortHandshake" value="None"/>
            <parameter name="PortName" value="COM2"/>
            <parameter name="PortStopBits" value="One"/>
            <parameter name="PortParity" value="None"/>
            <parameter name="EnabledPPS" value="false"/>
          </parameters>
        </component>

        <component type="SdrnDeviceServerRSTSMxAppUnitTest" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.RSTSMx.Test">
          <parameters>
            <parameter name="IPAddress" value="192.168.2.110"/>
           <!-- путь к папке bin с библиотеками vicom, например "c:\RuS\RS-ViCom-Pro-16.25.0.743\", тип string-->
            <parameter name="RSViComPath" value="c:\RuS\RS-ViCom-Pro-16.25.0.743\"/>
           <!-- Модель прибора , тип int
                 TSMW = 0
                 TSME = 1
                 TSME6 = 2
            -->
            <parameter name="DeviceType" value="0"/>
          </parameters>
        </component>

        <!-- Компонента адаптера: SignalHound 
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SignalHound.dll.config" -->
        <component type="SdrnDeviceServerSignalHoundAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SignalHound">
          <parameters>
            <parameter name="SerialNumber" value="18250087"/>
          </parameters>
        </component>

        <!-- Компонента адаптера: SpectrumAnalyzer 
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SpectrumAnalyzer.dll.config" -->
        <component type="SdrnDeviceServerSpectrumAnalyzerAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SpectrumAnalyzer">
          <parameters>
            <!-- Серийный номер прибора. -->
            <parameter name="SerialNumber" value=""/>

            <!-- IP адрес прибора например 192.168.2.110-->
            <parameter name="IPAddress" value=""/>

            <!-- Включает/Выключает отображение данных на экране прибора тип bool соответственно true/false-->
            <parameter name="DisplayUpdate" value="false"/>
          </parameters>
        </component>


        <!-- Точка регистрации компонентов процесинга: воркеры задача, обработчики результатов, конверторы типов результатов -->

        <!-- Компонента процесинга: Основные обработчки и воркеры 
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.Processing.dll.config" -->
        <component type="SdrnDeviceServerProcessingAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Processing">
          <parameters>
            <!-- Время в миллисекундах задержки потока обработки отложенных задач -->
            <parameter name="DurationWaitingEventWithTask" value="600000"/>

            <!-- Время в минутах, которое определяет какие задачи должны запускаться
                 Если время до запуска задачи меньше времени MaxDurationBeforeStartTimeTask, то задача сразу запускается,
             Если время до запуска больше MaxDurationBeforeStartTimeTask, то задача попадает в очередь отложенных задач  -->
            <parameter name="MaxDurationBeforeStartTimeTask" value="20"/>

            <!-- Время в миллисекундах в течении которого мы посылаем один результат для типа измерения Signaling   -->
            <!-- пример  value="60000" -->
            <parameter name="durationForSendResultSignaling" value="300000"/>

            <!-- Время в миллисекундах в течении которого мы посылаем один результат для типа измерения BandWidth   -->
            <!-- пример  value="60000" -->
            <parameter name="durationForSendResultBandWidth" value="600000"/>

            <!-- Время в миллисекундах в течении которого мы посылаем один результат для типа измерения SysInfo   -->
            <!-- пример  value="60000" -->
            <parameter name="durationForSendResultSysInfo" value="600000"/>


            <!-- Время в миллисекундах в течении которого мы посылаем один результат для типа измерения Spectrum Occupation   -->
            <!-- пример  value="60000" -->
            <parameter name="durationForSendResultSO" value="30000"/>


            <!-- Признак для включения функции blackman  (сигнализация)  -->
            <!-- пример  value="true" -->
            <parameter name="Smooth" value="true"/>

            <!-- пример  value="1000" -->
            <parameter name="SleepTimePeriodForWaitingStartingMeas_ms" value="1000"/>

            <!-- Время в миллисекундах  ожидания сообщения типа SensorRegistrationResult в воркере RegisterSensorTaskWorker  -->
            <parameter name="MaxTimeOutReceiveSensorRegistrationResult" value="30000"/>

            <!-- Время в миллисекундах  ожидания сообщения типа GpsResult в воркере GPSWorker  -->
            <parameter name="DurationWaitingRceivingGPSCoord" value="5000"/>

            <!-- Время в миллисекундах  ожидания сообщения типа SpectrumOcupationResult в воркере SOTaskWorker -->
            <parameter name="maximumTimeForWaitingResultSO" value="5000"/>

            <!-- Специальный коэффициент для расчета времени приостановки потока, выполняющего измерение SO
             ДЛя огибок типа CommandFailureReason.NotFoundConvertor, CommandFailureReason.NotFoundDevice
             -->
            <parameter name="KoeffWaitingDevice" value="5000"/>

            <!--Погрешность для долготы-->
            <parameter name="LonDelta.float" value="0.0000001"/>

            <!--Погрешность для широты-->
            <parameter name="LatDelta.float" value="0.0000001"/>

            <!--Периодичность в миллисекундах  отправки сообщений о координатах сенсора в SDRNS-->
            <parameter name="PeriodSendCoordinatesToSDRNS" value="60000"/>

            <!--Период в миллисекундах проверки наличия в БД новых тасков-->
            <parameter name="DurationWaitingCheckNewTasks" value="2000"/>

            <!-- период в миллисекундах временной приостановки потока выполнения задачи отправки уведомления об активности сенсора -->
            <parameter name="SleepTimePeriodSendActivitySensor_ms" value="60000"/>


            <!-- период в миллисекундах временной приостановки потока выполняющего "перевод" таска со статуса F в А (только для задач, которые восстанавливаются с БД и имеют статус F) -->
            <parameter name="SleepTimeForUpdateContextSOTask_ms" value="100"/>

            <!-- Время в миллисекундах  ожидания сообщения типа MeasResults в воркере SignalizationTaskWorker -->
            <parameter name="maximumTimeForWaitingResultSignalization" value="60000"/>

            <!-- Время в миллисекундах  ожидания сообщения  в воркере BandWidthTaskWorker -->
            <parameter name="maximumTimeForWaitingResultBandWidth" value="1000"/>

            <!--  Asl по умолчанию -->
            <parameter name="AslDefault.float" value="130"/>

            <!--  Default Longitude -->
            <parameter name="LonDefault.float" value="30.32523"/>

            <!--  Default Latitude -->
            <parameter name="LatDefault.float" value="50.23533"/>


          </parameters>
        </component>

        <!-- Компонента процесинга: обработчки и воркеры измерений
             Описание параметров смотреть в файле конфигурации "Atdi.AppUnits.Sdrn.DeviceServer.Processing.Measurements.dll.config" -->
        <component type="SdrnDeviceServerProcessingMeasurementsAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Processing.Measurements">
          <parameters>
            <!-- Признак, указывающий на включение режима обработки BandWidth таска -->
            <parameter name="EnableBandWidthTask" value="false"/>
            <!-- Признак, указывающий на включение режима обработки SysInfo таска -->
            <parameter name="EnableSysInfoTask" value="true"/>
          </parameters>
        </component>


      </components>
    </appServer>

  </atdi.platform>
</configuration>