<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerSpectrumAnalyzerAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SpectrumAnalyzer">
          <parameters>
            <parameter name="IPAddress" value="192.168.2.110"/>
            <parameter name="DisplayUpdate" value="false"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>