.card.card-login {
    display: flex;
}

.card.card-login .card-login-splash {
    overflow: hidden;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex: 1;
}

main {
    flex: 1 0 auto;
}

    main > .container {
        margin-top: 50px;
    }
