<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  
  <atdi.platform>

    <appServer instance="SdrnAppServer">

      <components>

        <component type="SdrnMasterServerAppUnit" assembly="Atdi.AppUnits.Sdrn.MasterServer">
          <parameters>

            <!-- Конфишурация лицензии -->
            
            <!-- Имя файла лицензии-->
            <parameter name="License.FileName" value="" />
            <!-- Зашифрованное значение идентификатора владельца лиензии -->
            <parameter name="License.OwnerId" value="" />
            <!-- Зашифрованное значение ключа продукта -->
            <parameter name="License.ProductKey" value="" />

            <!-- Конфишурация шины передачи данных -->
            
            <!-- Версия АПИ  -->
            <parameter name="DataBus.ApiVersion" value="1.0"/>
            <!-- Имя шины  -->
            <parameter name="DataBus.Name" value=""/>
            <!-- Хост без порта  -->
            <parameter name="DataBus.Host" value=""/>
            <!-- Порт, не обязательно, в этом случаи будет использован по умолчанию  -->
            <parameter name="DataBus.Port" value=""/>
            <!-- Виртуальных хост размещения очередей -->
            <parameter name="DataBus.VirtualHost" value="/"/>
            <!-- Имя пользователя -->
            <parameter name="DataBus.User" value=""/>
            <!-- Зашифрованное значение пароля пользователя -->
            <parameter name="DataBus.Password" value=""/>
            <!-- Признак шифрования передаваемого сообщения через шину -->
            <parameter name="DataBus.UseEncryption" value="false"/>
            <!-- Признак сжатия передаваемого сообщения через шину -->
            <parameter name="DataBus.UseCompression" value="false"/>
            <!-- Тип содержимого:   -->
            <parameter name="DataBus.ContentType" value="Json|Xml|Binary"/>
            <!-- Тип буферизации сообщений -->
            <parameter name="DataBus.UseBuffer" value="None|FileSystem|Database"/>
            <!-- Путь к каталогу буферизациия в случаи использования фйловой системы -->
            <parameter name="DataBus.Buffer.OutboxFolder" value="" />
            <!-- Имя конфигурации соединения к серверу БД в случаи использования в качестве буфера БД -->
            <parameter name="DataBus.Buffer.ConnectionStringConfig" value="" />
            <!-- Тип содержимого сообщения в буфере:  фактически для файла єто его тип содержимого. 
                XML более четеабельный, но емкий
                BINARY - самый компактный, но не четабильный
            -->
            <parameter name="DataBus.Buffer.ContentType" value="Json|Xml|Binary"/>
            

          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>