<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnAppServer">

      <components>

        <component type="SdrnBusControllerAppUnit" assembly="Atdi.AppUnits.Sdrn.BusController">
          <parameters>
            <parameter name="ApiVersion" value="2.0"/>

            <parameter name="MessageBus.Host" value="192.168.33.110" />
            <parameter name="MessageBus.VirtualHost" value="Test.SDRN.SDRNSV-SBD12-A00-8591.DevicesBus" />
            <parameter name="MessageBus.Port" value="" />
            <parameter name="MessageBus.User" value="andrey" />
            <parameter name="MessageBus.Password" value="EAAAAF/F9XJFjjkBH2Ga08O6HRa3h9ZfpXMwtagtuwTSepnJ" />

            <parameter name="Server.Exchange" value="EX.SDRN.Server"/>
            <parameter name="Device.Exchange" value="EX.SDRN.Device"/>

            <parameter name="Server.QueueNamePart" value="Q.SDRN.Server"/>
            <parameter name="Device.QueueNamePart" value="Q.SDRN.Device"/>
            <parameter name="Server.Queues" value="{routingKey=#01, consumerCount=1};{routingKey=#02, consumerCount=1};{routingKey=#03, consumerCount=1};{routingKey=#04, consumerCount=1};{routingKey=#05, consumerCount=1};{routingKey=#06, consumerCount=2};{routingKey=#07, consumerCount=1}"/>
            <parameter name="MessageConvertor.UseEncryption" value="false"/>
            <parameter name="MessageConvertor.UseCompression" value="false"/>
            <parameter name="DeviceBus.SharedSecretKey" value="SHDLLKDJKWXXKSDLCJKIWHJKH"/>

            <!-- Интервал времени в секундах опроса БД на факт наличия новых сообщений из шины устрйоств -->
            <parameter name="MessageProcessingJob.RepeatDelay" value="60"/>
            <parameter name="MessageProcessingJob.StartDelay" value="60"/>

          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
</configuration>