<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DB_ICSM_ConnectionString" connectionString="Application Name=WebQueryServer;Server=192.168.33.110;Database=DB_ICSM_Litva;UID=sa; PWD = P@ssw0rd;" />
    <add name="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.1.188)(PORT = 1522))(CONNECT_DATA = (SERVICE_NAME = ORCL2))); User Id = ICSM; Password = ICSM; enlist=dynamic;" />
    <add name="Template_SENSORS_Main_List_APPServer" connectionString="SENSORS_Main_List_APPServer_" />
    <add name="Template_SENSORS_Main_List_SDR" connectionString="SENSORS_Main_List_SDR_" />
    <add name="Template_SENSORS_Main_List_Status_APPServer" connectionString="SENSORS_Main_List_Status_APPServer_" />
    <add name="Template_SENSORS_Stop_List" connectionString="SENSORS_Stop_List_" />
    <add name="Template_MEAS_RESULTS_Main_List_APPServer" connectionString="MEAS_RESULTS_Main_List_APPServer_" />
    <add name="Template_MEAS_RESULTS_Main_List_SDR" connectionString="MEAS_RESULTS_Main_List_SDR_" />
    <add name="Template_MEAS_RESULTS_Stop_List" connectionString="MEAS_RESULTS_Stop_List_" />
    <add name="Template_MEAS_SDR_RESULTS_Main_List_APPServer" connectionString="MEAS_SDR_RESULTS_Main_List_APPServer_" />
    <add name="Template_MEAS_SDR_RESULTS_Main_List_SDR" connectionString="MEAS_SDR_RESULTS_Main_List_SDR_" />
    <add name="Template_MEAS_SDR_RESULTS_Stop_List" connectionString="MEAS_SDR_RESULTS_Stop_List_" />
    <add name="Template_MEAS_TASK_Main_List_APPServer" connectionString="MEAS_TASK_Main_List_APPServer_" />
    <add name="Template_MEAS_TASK_Main_List_SDR" connectionString="MEAS_TASK_Main_List_SDR_" />
    <add name="Template_MEAS_TASK_Stop_List" connectionString="MEAS_TASK_Stop_List_" />
    <add name="Template_MEAS_TASK_SDR_Main_List_APPServer" connectionString="MEAS_TASK_SDR_Main_List_APPServer_" />
    <add name="Template_MEAS_TASK_SDR_Main_List_SDR" connectionString="MEAS_TASK_SDR_Main_List_SDR_" />
    <add name="Template_MEAS_TASK_SDR_Stop_List" connectionString="MEAS_TASK_SDR_Stop_List_" />
    <add name="QueuesAllList" connectionString="QueuesAllList_" />
    <add name="Template_SENSOR_SDRNS_List_Request" connectionString="SENSOR_SDRNS_List_Request_" />
    <add name="Template_SENSOR_SDRNS_List_Response" connectionString="SENSOR_SDRNS_List_Response_" />
    <add name="Template_SENSORS_List_" connectionString="SENSORS_List" />
    <add name="Template_Event_Confirm_SENSORS_Send_" connectionString="Event_Confirm_SENSORS_Send_" />
    <add name="Template_Event_CheckActivitySensor_Req" connectionString="Event_CheckActivitySensor_Req_" />
    <add name="Template_Event_CheckActivitySensor_Resp" connectionString="Event_CheckActivitySensor_Resp_" />
    <add name="Template_Event_Req_Sensor_" connectionString="Event_Req_Sensor_" />
    <add name="Template_Event_Resp_Sensor_" connectionString="Event_Resp_Sensor_" />
    <add name="Template_Event_UpdateStatus_MeasSubTasks_From_MeasTaskSDR" connectionString="Event_St_MeasSubTasks_From_MeasTaskSDR_" />
    <add name="Template_Event_Confirm_MeasTaskResults_Send_" connectionString="Event_Confirm_MeasTaskResults_Send_" />
    <add name="DevicesAllList" connectionString="DevicesAllList" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Atdi.AppServer.Services.Sdrns.SdrnsControllerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://10.1.1.137:8734/Atdi.AppServer.Services/SDRNS/SdrnsControllerService/" />
            <add baseAddress="net.tcp://localhost:8735/Atdi.AppServer.Services/SDRNS/SdrnsControllerService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" contract="Atdi.AppServer.Contracts.Sdrns.ISdrnsController">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="" binding="netTcpBinding" contract="Atdi.AppServer.Contracts.Sdrns.ISdrnsController">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>