<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="Template_SENSORS_Main_List_APPServer" value="SENSORS_Main_List_APPServer_" />
    <add key="Template_SENSORS_Main_List_SDR" value="SENSORS_Main_List_SDR_" />
    <add key="Template_SENSORS_Main_List_Status_APPServer" value="SENSORS_Main_List_Status_APPServer_" />
    <add key="Template_SENSORS_Stop_List" value="SENSORS_Stop_List_" />
    <add key="Template_MEAS_RESULTS_Main_List_APPServer" value="MEAS_RESULTS_Main_List_APPServer_" />
    <add key="Template_MEAS_RESULTS_Main_List_SDR" value="MEAS_RESULTS_Main_List_SDR_" />
    <add key="Template_MEAS_RESULTS_Stop_List" value="MEAS_RESULTS_Stop_List_" />
    <add key="Template_MEAS_SDR_RESULTS_Main_List_APPServer" value="MEAS_SDR_RESULTS_Main_List_APPServer_" />
    <add key="Template_MEAS_SDR_RESULTS_Main_List_SDR" value="MEAS_SDR_RESULTS_Main_List_SDR_" />
    <add key="Template_MEAS_SDR_RESULTS_Stop_List" value="MEAS_SDR_RESULTS_Stop_List_" />
    <add key="Template_MEAS_TASK_Main_List_APPServer" value="MEAS_TASK_Main_List_APPServer_" />
    <add key="Template_MEAS_TASK_Main_List_SDR" value="MEAS_TASK_Main_List_SDR_" />
    <add key="Template_MEAS_TASK_Stop_List" value="MEAS_TASK_Stop_List_" />
    <add key="Template_MEAS_TASK_SDR_Main_List_APPServer" value="MEAS_TASK_SDR_Main_List_APPServer_" />
    <add key="Template_MEAS_TASK_SDR_Main_List_SDR" value="MEAS_TASK_SDR_Main_List_SDR_" />
    <add key="Template_MEAS_TASK_SDR_Stop_List" value="MEAS_TASK_SDR_Stop_List_" />
    <add key="QueuesAllList" value="QueuesAllList_" />
    <add key="Template_SENSOR_SDRNS_List_Request" value="SENSOR_SDRNS_List_Request_" />
    <add key="Template_SENSOR_SDRNS_List_Response" value="SENSOR_SDRNS_List_Response_" />
    <add key="Template_Event_CheckActivitySensor_Req" value="Event_CheckActivitySensor_Req_" />
    <add key="Template_Event_CheckActivitySensor_Resp" value="Event_CheckActivitySensor_Resp_" />
    <add key="Template_SENSORS_List_" value="SENSORS_List" />
    <add key="Template_Event_Confirm_SENSORS_Send_" value="Event_Confirm_SENSORS_Send_" />
    <add key="Template_Event_Req_Sensor_" value="Event_Req_Sensor_" />
    <add key="Template_Event_Resp_Sensor_" value="Event_Resp_Sensor_" />
    <add key="Template_Event_UpdateStatus_MeasSubTasks_From_MeasTaskSDR" value="Event_St_MeasSubTasks_From_MeasTaskSDR_" />
    <add key="Template_Event_Confirm_MeasTaskResults_Send_" value="Event_Confirm_MeasTaskResults_Send_" />
    <add key="DevicesAllList" value="DevicesAllList" />
    <add key="NameServer" value="ServerSDRN01" />
    <add key="ExchangePointFromDevices" value="EX.SDRN.Device" />
    <add key="ExchangePointFromServer" value="EX.SDRN.Server" />
    <add key="StartNameQueueServer" value="Q.SDRN.Server" />
    <add key="StartNameQueueDevice" value="Q.SDRN.Device" />
    <add key="ConcumerDescribe" value="{Name =  #01;ConcumerCount = 1}{Name=#02;ConcumerCount=1}{Name=#03;ConcumerCount=1}{Name=#04;ConcumerCount=1}{Name=#05;ConcumerCount=1}{Name=#06;ConcumerCount=1}" />
    <add key="RabbitHostName" value="10.1.1.129" />
    <add key="RabbitUserName" value="SDR_Client" />
    <add key="RabbitPassword" value="32Xr567" />
    <add key="ApiVersion" value="v2.0" />
  </appSettings>
  
  <connectionStrings>
    <add name="DB_ICSM_ConnectionString" connectionString="Application Name=WebQueryServer;Server=192.168.33.110;Database=DB_ICSM_Litva;UID=sa; PWD = P@ssw0rd;" />
    <add name="ORACLE_DB_ICSM_ConnectionString" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 10.1.1.188)(PORT = 1522))(CONNECT_DATA = (SERVICE_NAME = ORCL2))); User Id = ICSM; Password = ICSM; enlist=false;" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISdrnsController" transferMode="Streamed" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" openTimeout="10:10:00" closeTimeout="10:10:00" sendTimeout="10:10:00" receiveTimeout="10:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">

            <transport clientCredentialType="None" />

          </security>

        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Atdi.AppServer.Services.Sdrns.SdrnsControllerService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/Atdi.AppServer.Services/SDRNS/SdrnsControllerService/" />
            <add baseAddress="net.tcp://localhost:8735/Atdi.AppServer.Services/SDRNS/SdrnsControllerService/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISdrnsController" contract="Atdi.AppServer.Contracts.Sdrns.ISdrnsController">
          <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <endpoint address="" binding="netTcpBinding" contract="Atdi.AppServer.Contracts.Sdrns.ISdrnsController">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>

        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="http://localhost:8734/Atdi.AppServer.Services/SDRNS/SdrnsControllerService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>