<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding
          maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647"
          maxBufferPoolSize="2147483647"
          openTimeout="10:10:00"
         	closeTimeout="10:10:00"
          sendTimeout="10:10:00"
          receiveTimeout="10:10:00"
	      >
        </binding>
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding receiveTimeout="10:00:00" sendTimeout="10:00:00" maxBufferSize="2147483647"  maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"></binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint
	        name="WorldMapApi"
		      address="net.pipe://localhost/Atdi/WcfServices/Sdrn/Device/DeepServices/Idwm/WorldMapApi/"
          binding="netNamedPipeBinding"
          contract="Atdi.Contracts.WcfServices.Sdrn.DeepServices.IDWM.IWorldMapApi">
      </endpoint>
    </client>
  </system.serviceModel>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>



  <connectionStrings>
   <!--<add name="DB_SDRN_CalcServer_ConnectionString" connectionString="Application Name=SDRN.CalcServer;Server=GTR-1\SQLEXPRESS;Database=DB_SDRN_CalcServer;UID=sa; PWD = j3qq5012zX;"/>-->
    <!--<add name="DB_SDRN_CalcServer_ConnectionString" connectionString="Application Name=SDRN.CalcServer;Server=GTR-1\SQLSERVER;Database=DB_SDRN_CalcServer;UID=sa; PWD = j3qq5012zX;"/>-->

   <add name="DB_SDRN_CalcServer_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.37) (PORT=1521))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ICS))); User Id = ICSC; Password = ICSC; enlist=false; Pooling=false;"/>
   <!--<add name="DB_SDRN_CalcServer_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.41) (PORT=1521))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ORCL))); User Id = ICSC; Password = ICSC; enlist=false; Pooling=false;"/>-->
   <add name="DB_SDRN_Infocenter_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.41) (PORT=1521))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ORCL))); User Id = ICSC; Password = ICSC; enlist=false; Pooling=false;"/>





    <!--<add name="DB_SDRN_CalcServer_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.37) (PORT=1521))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ICS))); User Id = ICSC; Password = ICSC; enlist=false; Pooling=false;"/>
    <add name="DB_SDRN_Infocenter_ConnectionString" connectionString="Data Source = (DESCRIPTION=  (ADDRESS=(PROTOCOL=TCP) (HOST=10.1.1.41) (PORT=1521))(CONNECT_DATA= (SERVER=dedicated)  (SERVICE_NAME=ORCL))); User Id = ICSC; Password = ICSC; enlist=false; Pooling=false;"/>-->
    
  </connectionStrings>

  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="d:\CalcServer\18_08_2020\Dev\"/>
      <property name="SearchAssembliesPattern" value="\bin\Debug$"/>
      <property name="SearchAssembliesPattern_" value="\bin\Release$"/>
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform" lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us"/>
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="20000"/>
          <parameter name="Levels_" value="Error,Exception,Critical"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000"/>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value=""/>
          <parameter name="Contexts_" value="SQL Server Engine"/>
          <parameter name="Categories_" value="Executing command"/>
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnServer">

      <properties>
        <property name="ThreadPoolSize" value="500"/>
      </properties>

      <components>

        <component type="MonitoringCoreServices" assembly="Atdi.CoreServices.Monitoring">
          <parameters>
            <!-- Размер буфера сообщений из лога -->
            <parameter name="LogEvent.BufferSize" value="5000"/>
          </parameters>
        </component>


        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>

            <parameter name="EnvironmentFileName" value="d:\CalcServer\18_08_2020\Dev\DataModels\Atdi.DataModels.Sdrn.CalcServer.Entities\Metadata\Environment.xml"/>

            <parameter name="Environments" value="{Context=CalcServer, Path=d:\CalcServer\18_08_2020\Dev\DataModels\Atdi.DataModels.Sdrn.CalcServer.Entities\Metadata\Environment.xml};{Context=Infocenter, Path=d:\CalcServer\18_08_2020\Dev\DataModels\Atdi.DataModels.Sdrn.Infocenter.Entities\Metadata\Environment.xml}" />
          </parameters>
        </component>

        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_Infocenter_DB, dataEngine=Oracle, connectionStringConfig=DB_SDRN_Infocenter_ConnectionString};{name=SDRN_CalcServer_DB, dataEngine=Oracle, connectionStringConfig=DB_SDRN_CalcServer_ConnectionString};{name=Platform, dataEngine=Assemblies}"/>
            <!--<parameter name="DataContexts" value="{name=SDRN_Infocenter_DB, dataEngine=Oracle, connectionStringConfig=DB_SDRN_Infocenter_ConnectionString};{name=SDRN_CalcServer_DB, dataEngine=Oracle, connectionStringConfig=DB_SDRN_CalcServer_ConnectionString};{name=Platform, dataEngine=Assemblies}"/>-->
          </parameters>
        </component>

        <component type="AssembliesDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Assemblies">
        </component>

        <component type="OracleDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.Oracle">
        </component>

        <component type="SqlServerDataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer.SqlServer">
        </component>

        <component type="SdrnDeepServicesAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices">
          <parameters>
          </parameters>
        </component>


        <component type="SdrnDeepServicesGisAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.Gis">
          <parameters>
          </parameters>
        </component>

        <component type="SdrnDeepServicesIDWMAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.IDWM">
          <parameters>
          </parameters>
        </component>

        <component type="SdrnDeepServicesEarthGeometryAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.EarthGeometry">
          <parameters>
          </parameters>
        </component>


        <component type="SdrnDeepServicesRadioSystemAppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.RadioSystem">
          <parameters>
          </parameters>
        </component>


        <component type="SdrnDeepServicesGN06AppUnit" assembly="Atdi.AppUnits.Sdrn.DeepServices.GN06">
          <parameters>
          </parameters>
        </component>

        <component type="SdrnCalcServerAppUnit" assembly="Atdi.AppUnits.Sdrn.CalcServer">
          <parameters>


            <parameter name="License.FileName" value="d:\CalcServer\18_08_2020\Dev\Delivery\Licenses\Test\Sdrn\CalcServerLicense\LIC-CBD12-A00-772.SDRNSV-CBD12-A00-5149.lic" />
            <parameter name="License.OwnerId" value="EAAAAGlp++RzevE9aAuOn7pxB7kIL9wXyHdKxtzRmO1lC5DOqp6ukmlOrePkdK7PsrJ/nA==" />
            <parameter name="License.ProductKey" value="EAAAAO1YsO4RtYoKmAKtzI831rFs6OYUJ0xet9E4KJkfvAwEdeZZ7m9g5k5IOcy+5M64Sw==" />


            <parameter name="EventSystem.ApiVersion" value="1.0" />
            <parameter name="EventSystem.AppName" value="SDRN.Server" />
            <parameter name="EventSystem.EventBus.Host" value="localhost" />
            <parameter name="EventSystem.EventBus.VirtualHost" value="214.Test.SDRN.SDRNSV-SBD12-A00-8591.EventSystem" />
            <parameter name="EventSystem.EventBus.Port" value="5672" />
            <parameter name="EventSystem.EventBus.User" value="SDR_Client" />
            <parameter name="EventSystem.EventBus.Password" value="EAAAAB4ZzznJuQG6H/ElnO6FcAyfCGG3ZkSoPECLX5SdulxL" />
            <parameter name="EventSystem.EventExchange" value="EX.SDRN.EventSystem" />
            <parameter name="EventSystem.EventQueueNamePart" value="Q.SDRN.EventSystem" />
            <parameter name="EventSystem.ErrorsQueueName" value="errors" />
            <parameter name="EventSystem.LogQueueName" value="log" />
            <parameter name="EventSystem.UseEncryption" value="false" />
            <parameter name="EventSystem.UseCompression" value="false" />

            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта карт -->
            <parameter name="ProcessJob.StartDelay" value="1" />
            <!-- Пауза в милесекундах перед повтором автоматического импорта карт, фактически интервал сканирования каталога -->
            <parameter name="ProcessJob.RepeatDelay" value="5000" />

            <!-- Пороговое значение максимального кол-ва шагов в заказываемой карте проекта-->
            <parameter name="Threshold.MaxSteps" value="225000000" />

            <!-- Каталог размещения локальных карт -->
            <parameter name="Maps.LocalStorage.Folder" value="c:\ATDI\map" />


            <!-- Пауза в секундах перед запуском рабочего задания обсуживающего сценарий комманд сервера расчетов -->
            <parameter name="CommandJob.StartDelay" value="1" />
            <!-- Пауза в милесекундах перед повторным запуском рабочего задания обсуживающего сценарий комманд сервера расчетов -->
            <parameter name="CommandJob.RepeatDelay" value="5000" />
            
          </parameters>
        </component>


        <!-- Компонента примеров реализации задач, итерации и низкоуровневого сервиса -->

        <component type="SdrnCalcServerTasksAppUnit" assembly="Atdi.AppUnits.Sdrn.CalcServer.Tasks">
          <parameters>

          <parameter name="Thresholds.Gis.ProfileData.ObjectPool.MinSize" value="0" />

          <parameter name="Thresholds.Gis.ProfileData.ObjectPool.MaxSize" value="10" />

          <parameter name="Thresholds.StationCalibration.ArrayLength" value="100000" />

          <parameter name="Thresholds.StationCalibration.ObjectPool.MinSize" value="0" />

          <parameter name="Thresholds.StationCalibration.ObjectPool.MaxSize" value="10" />

          <parameter name="Thresholds.Gis.ProfileData.ArrayLength" value="100000" />

          <parameter name="Threshold.DriveTest.Points.MaxFetchRows" value="5000" />

          <parameter name="Threshold.Stations.Standard.MaxRows" value="50000" />

          <parameter name="Threshold.DriveTest.Standard.MaxRows" value="10000" />

          <parameter name="Threshold.DriveTestAndStation.GSM.MinDistance" value="1" />
            
          <parameter name="Threshold.DriveTestAndStation.UMTS.MinDistance" value="1" />

          <parameter name="Threshold.DriveTestAndStation.LTE.MinDistance" value="1" />

          <parameter name="Threshold.DriveTestAndStation.CDMA.MinDistance" value="1" />

          <parameter name="Thresholds.GE06PointEarthGeometric.ArrayLength" value="20000" />
         
          <parameter name="Thresholds.GE06PointEarthGeometric.ObjectPool.MinSize" value="0" />

          <parameter name="Thresholds.GE06PointEarthGeometric.ObjectPool.MaxSize" value="10" />

          <parameter name="Thresholds.CountoursPointExtendedPool.ArrayLength" value="10000" />

          <parameter name="Thresholds.CountoursPointExtendedPool.ObjectPool.MinSize" value="0" />

          <parameter name="Thresholds.CountoursPointExtendedPool.ObjectPool.MaxSize" value="10" />

          <parameter name="Thresholds.CountoursResultPool.ArrayLength" value="10000" />

          <parameter name="Thresholds.CountoursResultPool.ObjectPool.MinSize" value="0" />

          <parameter name="Thresholds.CountoursResultPool.ObjectPool.MaxSize" value="10" />

          <parameter name="Brific.DBSource" value="d:\BR_Soft\Terrasys\Data\BRIFIC_2921.db3" />

          <parameter name="StandardsForDuplicateStations" value="UMTS;CDMA-800;CDMA-450" />

          <parameter name="Thresholds.PeriodSaveCheckPointsInMinutes" value="1" />
            
          </parameters>
        </component>

        <!-- Точка регистрации компонентов Web API -->

        <component type="SelfHostWebApiServices" instance="SdrnCalcServerWebApiServer" assembly="Atdi.WebApiServices.SelfHost">
          <parameters>
            <parameter name="Url" value="http://localhost:15070/appserver/v1"/>
          </parameters>
        </component>

        <component type="SdrnCalcServerWebApiServices" assembly="Atdi.WebApiServices.Sdrn.CalcServer">
          <parameters>
            <!-- Инстанс компоненты хоста Web API - в данном случаи равен "SdrnDeviceWebApiServer" из предыдущего подключения  -->
            <parameter name="Instance" value="SdrnCalcServerWebApiServer"/>
          </parameters>
        </component>

        <component type="EntityOrmWebApiServices" assembly="Atdi.WebApiServices.EntityOrm">
          <parameters>
            <!-- Инстанс компоненты хоста Web API - в данном случаи равен "SdrnDeviceWebApiServer" из предыдущего подключения  -->
            <parameter name="Instance" value="SdrnCalcServerWebApiServer"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>
