<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnDeviceAppServer">

      <components>

        <component type="SdrnDeviceServerSpectrumAnalyzerAppUnit" assembly="Atdi.AppUnits.Sdrn.DeviceServer.Adapters.SpectrumAnalyzer">
          <parameters>
            <!-- Серийный номер прибора. -->
            <parameter name="SerialNumber" value=""/>
            
            <!-- IP адрес прибора например 192.168.2.110-->
            <parameter name="IPAddress" value=""/>
            
            <!-- Включает/Выключает отображение данных на экране прибора тип bool соответственно true/false-->
            <parameter name="DisplayUpdate" value="false"/>
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>