<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true"  allowDefinition="Everywhere"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
   <add name ="DB_SDRN_Server_ConnectionString" connectionString=""/>
   
  </connectionStrings>
  
  <atdi.platform>

    <properties>
      <property name="SearchAssembliesStartPath" value="" />
      <property name="SearchAssembliesPattern" value="" />
    </properties>

    <servicesContainer type="Atdi.Platform.ServicesContainer.Castle.WindsorServicesContainer, Atdi.Platform.ServicesContainer">
      <components>
        <component  service="Atdi.Platform.IResourceResolver, Atdi.Platform" type="Atdi.Platform.DefaultResourceResolver, Atdi.Platform"  lifetime="Singleton">
          <parameters>
            <parameter name="DefaultLang" value="en-us" />
          </parameters>
        </component>
      </components>

    </servicesContainer>

    <installers>

      <install type="Atdi.Platform.Logging.LoggerInstaller, Atdi.Platform.Logging" >
        <parameters>
          <parameter name="EventsCapacity" value="20000" />
          <parameter name="Levels_" value="Trace" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.ConsoleEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="EventsCapacity" value="5000" />
          <parameter name="Levels" value="" />
          <parameter name="Contexts" value="" />
          <parameter name="Categories" value="" />
        </parameters>
      </install>

      <install type="Atdi.Platform.Logging.EventsConsumers.FileEventsConsumerInstaller, Atdi.Platform.Logging">
        <parameters>
          <parameter name="Levels" value="" />
          <parameter name="Contexts" value="" />
          <parameter name="Categories" value="" />
        </parameters>
      </install>

      <install type="Atdi.Platform.AppServer.ServerInstaller, Atdi.Platform.AppServer">
      </install>

    </installers>

    <appServer instance="SdrnServer">

      <properties>
        <property name="ThreadPoolSize" value="500" />
      </properties>

      <components>

        <component type="EntityOrmCoreServices" assembly="Atdi.CoreServices.EntityOrm">
          <parameters>
            <parameter name="EnvironmentFileName" value="Metadata/Environment.xml" />
          </parameters>
        </component>
        
        <component type="DataLayerCoreServices" assembly="Atdi.CoreServices.DataLayer">
          <parameters>
            <parameter name="DataContexts" value="{name=SDRN_Server_DB, dataEngine=SqlServer, connectionStringConfig=DB_SDRN_Server_ConnectionString}" />
            
          </parameters>
        </component>

        <component type="SdrnServerAppUnit" assembly="Atdi.AppUnits.Sdrn.Server">
          <parameters>

            <parameter name="License.FileName" value="" />
            <parameter name="License.OwnerId" value="" />
            <parameter name="License.ProductKey" value="" />

            <parameter name="EventSystem.ApiVersion" value="1.0" />
            <parameter name="EventSystem.AppName" value="SDRN.Server" />
            <parameter name="EventSystem.EventBus.Host" value="" />
            <parameter name="EventSystem.EventBus.VirtualHost" value="EventSystem" />
            <parameter name="EventSystem.EventBus.Port" value="" />
            <parameter name="EventSystem.EventBus.User" value="" />
            <parameter name="EventSystem.EventBus.Password" value="" />
            <parameter name="EventSystem.EventExchange" value="EX.SDRN.EventSystem" />
            <parameter name="EventSystem.EventQueueNamePart" value="Q.SDRN.EventSystem" />
            <parameter name="EventSystem.ErrorsQueueName" value="errors" />
            <parameter name="EventSystem.LogQueueName" value="log" />
            <parameter name="EventSystem.UseEncryption" value="false" />
            <parameter name="EventSystem.UseCompression" value="false" />

          </parameters>
        </component>
        
        <component type="SdrnBusControllerAppUnit" assembly="Atdi.AppUnits.Sdrn.BusController" >
          <parameters>
            <parameter name="ApiVersion" value="2.0" />
            
            <parameter name="MessageBus.Host" value="" />
            <parameter name="MessageBus.VirtualHost" value="/" />
            <parameter name="MessageBus.Port" value="" />
            <parameter name="MessageBus.User" value="" />
            <parameter name="MessageBus.Password" value="" />
            
            <parameter name="Server.Exchange" value="EX.SDRN.Server" />
            <parameter name="Device.Exchange" value="EX.SDRN.Device" />
            
            <parameter name="Server.QueueNamePart" value="Q.SDRN.Server" />
            <parameter name="Device.QueueNamePart" value="Q.SDRN.Device" />
            <parameter name="Server.Queues" value="{routingKey=#01, consumerCount=3};{routingKey=#02, consumerCount=3};{routingKey=#03, consumerCount=3};{routingKey=#04, consumerCount=3};{routingKey=#05, consumerCount=3};{routingKey=#06, consumerCount=3}" />
            <parameter name="MessageConvertor.UseEncryption" value="true" />
            <parameter name="MessageConvertor.UseCompression" value="true" />
          </parameters>
        </component>

        <component type="SdrnServerPrimaryHandlersAppUnit" assembly="Atdi.AppUnits.Sdrn.Server.PrimaryHandlers">
          <parameters>
            <parameter name="ResSysInfo.Data" value="true"/>
          </parameters>
        </component>

        <component type="SdrnServerWcfServices" assembly="Atdi.WcfServices.Sdrn.Server">
          <parameters>
            <parameter name="ISdrnsController" value="{binding=basicHttpBinding, address=http://localhost:8737/Atdi/WcfServices/Sdrn/Server/SdrnsController/};  {binding=netTcpBinding, address=net.tcp://localhost:8736/Atdi/WcfServices/Sdrn/Server/SdrnsController/}; {binding=netNamedPipeBinding, address=net.pipe://localhost/Atdi/WcfServices/Sdrn/Server/SdrnsController/}"/>
           
          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>
  
</configuration>