<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnInfocenterAppServer">

      <components>

        <component type="SdrnInfocenterIntegrationAppUnit" assembly="Atdi.AppUnits.Sdrn.Infocenter.Integration">
          <parameters>
            
            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта драйв тестов с БД SDRN Server -->
            <parameter name="AutoImport.SdrnServer.StartDelay" value="" />
            <!-- Пауза в секундах перед повтором автоматического импорта драйв тестов с БД SDRN Server -->
            <parameter name="AutoImport.SdrnServer.RepeatDelay" value="" />

            <!-- Каталог размещения файлов для автоматисеского импорта в хранилище -->
            <parameter name="AutoImport.Files.Folder" value="" />
            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта файлов -->
            <parameter name="AutoImport.Files.StartDelay" value="" />
            <!-- Пауза в секундах перед повтором автоматического импорта файлов, фактически интервал сканирования каталога -->
            <parameter name="AutoImport.Files.RepeatDelay" value="" />

          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>