<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atdi.platform" type="Atdi.Platform.ConfigElements.AtdiPlatformConfigElement, Atdi.Platform.Configurator" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <atdi.platform>

    <appServer instance="SdrnInfocenterAppServer">

      <components>

        <component type="SdrnInfocenterIntegrationAppUnit" assembly="Atdi.AppUnits.Sdrn.Infocenter.Integration">
          <parameters>
            
            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта драйв тестов с БД SDRN Server -->
            <parameter name="AutoImport.SdrnServer.StartDelay" value="10" />
            <!-- Пауза в секундах перед повтором автоматического импорта драйв тестов с БД SDRN Server -->
            <parameter name="AutoImport.SdrnServer.RepeatDelay" value="60" />
            <!-- Максимальное кол-во результатов на одну итерацию синхронизации -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.FetchRows" value="1000" />
            <!-- Период актуальности данных в часах с текущего момента, т.е. данные раньше чем этот период загружены не будут -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.Period" value="1" />

            <!-- Максимальное кол-во записей о точках на одно чтение -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.Points.FetchRows" value="10000" />
            <!-- Размер буфера порции точек -->
            <parameter name="AutoImport.SdrnServer.StationMonitoring.Points.BufferSize" value="5000" />


            <!-- Каталог размещения файлов для автоматисеского импорта в хранилище -->
            <parameter name="AutoImport.Files.Folder" value="" />
            <!-- Пауза в секундах перед запуском рабочего заданий автоматического импорта файлов -->
            <parameter name="AutoImport.Files.StartDelay" value="" />
            <!-- Пауза в секундах перед повтором автоматического импорта файлов, фактически интервал сканирования каталога -->
            <parameter name="AutoImport.Files.RepeatDelay" value="" />

          </parameters>
        </component>

      </components>
    </appServer>

  </atdi.platform>

</configuration>